<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow"  (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span> Change Password</h3>
    </div>
  </div>
</div>

<div class="container">
    <div class="page-inner-sec main-form-sec-group greay-from-border change-pass full">
      <div class="form-group full"> 
        <label for="email" class="label-light">Email ID</label>
        <input type="email" class="form-control" id="email" #changePassRef>
      </div>
      <span class="text-light">You will receive your new password details on the ID you enter here</span>
    </div>
</div>
