<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow" (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span>Bank Accounts / Mandates</h3>
    </div>
  </div>
</div>

<div class="full mandate-sec">
  <div class="tab-slider--nav">
    <ul class="tab-slider--tabs col-xs-12">
      <li class="tab-slider--trigger col-xs-6" [class.active]="viewMode == 'tab1'" rel="tab1"
        (click)="viewMode ='tab1'">Bank Accounts</li>
      <li class="tab-slider--trigger col-xs-6" [class.active]="viewMode == 'tab2'" rel="tab2"
        (click)="viewMode ='tab2'"> Mandates</li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="tab-slider--container" [ngSwitch]="viewMode">
    <div *ngIf="otherError" class="alert alert-danger">
      {{errorMessage}}
    </div>
    <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
     <div class="page-bottom-padd full">
      <div class="bank-account-rw mandate-section full" *ngFor="let bank of banklist">
        <div class="bank-name">
          <span class="text-dark">{{bank.name}}</span>
          <span class="nominee-checked bank-acc-check">
            <span class="mandate-default-text" *ngIf="bank.id === defaultval">Default</span>
            <span class="mandate-default-text" *ngIf="bank.default != 'N' && deVal">Default</span>
            <label class="chekbox-container">
              <input type="radio" name="def-bank-acc" [value]="bank.id" [checked]="bank.default != 'N'" />
              <span class="checkmark" *ngIf="bank.default != 'N'"></span>
            </label>
            <ng-template #defBank let-d="dismiss" let-c="close">
              <div class="remove-bank">
                <div class="modal-header">
                  <button type="button" class="close" aria-label="Close" (click)="d('Dismiss click'); cancelDefault()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p class="text-center remove-bank-text">Are you sure you want to change the Default Bank account ?</p>
                </div>
                <div class="modal-footer">
                  <div class="col-xs-6 text-center"> <button type="button" class="btn no-btn"
                      (click)="d('Dismiss click'); cancelDefault()">No</button>
                  </div>
                  <div class="col-xs-6 text-center"> <button type="button" class="btn yes-btn"
                      (click)="c('Close click'); setDefault()">Yes</button>
                  </div>
                </div>
              </div>
            </ng-template>
          </span>
        </div>
        <div class="bank-name-rw text-light">{{replace(bank.account_number)}}</div>
        <input type="text" autocomplete="off" [value]="bank.id" name="bank_id" readonly
          class="form-control bank_id visbility-hidden" />
        <div class="bank-name-rw pull-right view-bank-detail">
          <span class="view-bank-detail-span" (click)="viewBankDetails(bank)">View Details</span><i
            class="fa fa-angle-right"></i></div>
      </div>
      <div class="form-btn-sec start-in-sec add-mandate-btn full">
        <button [disabled]="banklist.length >= 5" type="button" name="button" value="submit" class="btn green-btn" (click)="addBank()">
          <img src="assets/images/add-mandate.png" alt="add"> ADD BANK ACCOUNT</button>
      </div>
    </div>
  </div>

    <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
        <div *ngFor="let bank of banklist; let index = index;">
          <div class="mandate-head full">
            <div class="mandate-rw" (click)="rowsControls[index].isCollapsed = !rowsControls[index].isCollapsed"
              [attr.aria-controls]="'collapse_' + bank.id">
              <span class="mandate-bank">{{bank.name}}</span>
              <span class="mandate-chevron pull-right"><i class="fa"
                  [ngClass]="{'fa-angle-right': rowsControls[index].isCollapsed, 'fa-angle-down': !rowsControls[index].isCollapsed}"></i></span>
            </div>
          </div>

          <div id="collapse_{{ bank.id }}" [ngbCollapse]="rowsControls[index].isCollapsed" class="full">
            <div class="mandate-details" *ngIf="bank.mandate_details != null">
              <div class="mandate-details-primary">
                <p class="mandate-text">Mandate</p>
                <p class="mandate-limit"><span>Maximum Limit : {{bank.mandate_details.mandate_amount}}</span>
                  <!-- <span class="nominee-checked bank-acc-check">
                <label class="chekbox-container">
                  <input type="radio" id="nomineeCheck" name="def-mandate-acc">
                  <span class="checkmark"></span>
                </label>
              </span> -->
                </p>
                <p class="mandate-id">ID: {{bank.mandate_details.mandate_id}}</p>
                <p class="mandate-status" (click)="mandateStatus(bank)">Status : <span>{{bank.mandate_details.mandate_status}}</span></p>
                <p class="mandate-sts-msg" *ngIf="bank.mandate_details.mandate_status_message != null">Remark:  <span>{{bank.mandate_details.mandate_status_message}}</span></p>
              </div>
              <!-- <div class="mandate-details-secondary">
            <p class="mandate-text">Mandate</p>
            <p class="mandate-limit"><span>Maximum Limit : Rs 1,00,00</span>
              <span class="nominee-checked bank-acc-check">
                <label class="chekbox-container">
                  <input type="radio" id="nomineeCheck" name="def-mandate-acc">
                  <span class="checkmark"></span>
                </label>
              </span>
            </p>
            <p class="mandate-id">ID: 201520014</p>
            <p class="mandate-status">Status : Approved</p>
          </div> -->
            </div>
            <div class="form-group form-btn-sec add-mandate-btn full" *ngIf="bank.mandate_details == null || bank.mandate_details.mandate_status == 'REJECTED'">
              <button type="button" name="button" value="submit" class="btn green-btn" (click)="addMandate(bank)">
                <img src="../assets/images/add-mandate.png" alt="add">ADD MANDATE FOR SIP</button>
            </div>
          </div>
        </div>

      <!-- <div class="mandate-head  full">
        <div class="mandate-rw" (click)="isCollapsed2 = !isCollapsed2" [attr.aria-expanded]="!isCollapsed2"
          aria-controls="collapseExample2">
          <span class="mandate-bank">Axis Bank of India</span>
          <span class="mandate-chevron pull-right"><i class="fa"
              [ngClass]="{'fa-angle-right': isCollapsed2, 'fa-angle-down': !isCollapsed2}"></i></span>
        </div>
      </div> -->
      <!-- <div id="collapseExample2" [ngbCollapse]="isCollapsed2" class="full">
        <div class="mandate-details">
          <div class="mandate-details-primary">
            <p class="mandate-text">Mandate</p>
            <p class="mandate-limit"><span>Maximum Limit : Rs 1,00,00</span>
              <span class="nominee-checked bank-acc-check">
                <label class="chekbox-container">
                  <input type="radio" id="nomineeCheck" name="def-mandate-acc">
                  <span class="checkmark"></span>
                </label>
              </span>
            </p>
            <p class="mandate-id">ID: 5157541</p>
            <p class="mandate-status">Status : Approved</p>
          </div>
          <div class="mandate-details-secondary">
            <p class="mandate-text">Mandate</p>
            <p class="mandate-limit"><span>Maximum Limit : Rs 1,00,00</span>
              <span class="nominee-checked bank-acc-check">
                <label class="chekbox-container">
                  <input type="radio" id="nomineeCheck" name="def-mandate-acc">
                  <span class="checkmark"></span>
                </label>
              </span>
            </p>
            <p class="mandate-id">ID: 201520014</p>
            <p class="mandate-status">Status : Approved</p>
          </div>
        </div>
        <div class="form-group form-btn-sec add-mandate-btn full">
          <button type="button" name="button" value="submit" class="btn green-btn" (click)="addMandate()"><img
              src="assets/images/add-mandate.png" alt="add">
            ADD MANDATE FOR SIP</button>
        </div>
      </div> -->
    </div>
  </div>
</div>

<!--loader html-->
<div class="lds-css ng-scope" *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
