.bank-account-rw .bank-name{display: table;width: 100%;}
.bank-account-rw .bank-name .text-dark{display: table-cell;}
.mandate-rw{display: table;width: 100%;padding: 18px 20px;}
.mandate-rw .mandate-bank{display: table-cell;vertical-align: middle;}
