<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow" (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span> Settings </h3>
    </div>
  </div>
</div>

<div class="container full">
  <div class="page-inner-sec full">
    <!-- <div class="default-rw settings-page">
      <span class="settings-title">Email notifications</span>
      <span class="pull-right toggle">
        <mbsc-form>
          <mbsc-form-group>
            <mbsc-switch [(ngModel)]="switch1" (change)="changed()">
            </mbsc-switch>
          </mbsc-form-group>
        </mbsc-form>
      </span>
    </div> -->
    <!-- <div class="default-rw settings-page">
      <span class="settings-title">Push notifications</span>
      <span class="pull-right toggle">
          <mbsc-form>
            <mbsc-form-group>
              <mbsc-switch [(ngModel)]="switch2" (change)="changed()">
              </mbsc-switch>
            </mbsc-form-group>
          </mbsc-form>
        </span>
    </div> -->
    <div class="default-rw change-password"  (click)="changePassword()">
      <span class="settings-title">Change Password</span>
      <span class="pull-right setting-change-pass"><i class="fa fa-angle-right"></i></span>
    </div>
  </div>
</div>
