<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow"  (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span>Share & Earn</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="congo-sec full text-center share-and-earn-sec">
        <img src="../assets/images/share-and-earn.svg" alt="refer-img" />
        <div class="share-sec-para full">
          <p class="share-sec-title">Refer Friends & Start Earning</p>
          <p class="share-sec-desc">Refer your friends and earn Rs 300 when they open an account with us also get 10%
            brokerage eyerytime they trade</p>
        </div>
        <div class="bottom-fix-btn full">
          <button class="btn green-btn">Invite & Earn</button>
        </div>
      </div>
    </div>
  </div>
</div>
