<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow-light">
        </span></h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="congo-sec full text-center">
        <img src="../assets/images/success.png" alt="success-img" />
        <div class="congo-sec-para full">
          <h4 class="text-success">Great Job!</h4>
          <p>Your New Bank account is added</p>
        </div>
      </div>
    </div>
  </div>
</div>
