<div class="container">
  <div class="full tso-img-logo-sec">
    <img src="../assets/images/tso-inner-logo.png" alt="logo-img" />
  </div>
  <div class="profile-header full" *ngIf="status != '10'">
    <p class="name-field" *ngIf="status >= '40'">{{name}}</p>
    <p class="email-field" *ngIf="status >= '20'">{{email}}</p>
    <p class="mobile-field" *ngIf="status >= '20'">{{mobile}}</p>
    <button type="submit" name="button" value="submit" class="btn green-btn profile-btn" *ngIf="status != '60'"
      (click)="completeProfile()">Complete Your Profile</button>
  </div>
  <div class="text-center profile-header-secondary full" *ngIf="status == '10'">
    <p> Hurry Invest Now,</p>
    <p> Simple & Free</p>
    <button type="submit" name="button" value="submit" class="btn green-btn profile-btn" *ngIf="status != '60'"
      (click)="completeProfile()">Complete Your Profile</button>
  </div>

  <div class="full page-bottom-padd">
    <div class="profile-rw" [routerLink]="['/account-details']">
      <img src="../assets/images/view-account-details.svg" alt="otm">
      <span class="profile-section">View Account Details</span>
    </div>
    <div class="profile-rw" [routerLink]="['/show-bank']" *ngIf="status >= '50'">
      <img src="../assets/images/otm.svg" alt="bank-account">
      <span class="profile-section">Bank accounts / OTMs</span>
    </div>
    <!-- <div class="profile-rw" [routerLink]="['/share-and-earn']">
      <img src="assets/images/share.svg" alt="share">
      <span class="profile-section">Share & Earn</span>
    </div> -->
    <div class="profile-rw" [routerLink]="['/help']">
      <img src="../assets/images/support.svg" alt="support">
      <span class="profile-section">Help & Support</span>
    </div>
    <div class="profile-rw" [routerLink]="['/settings']">
      <img src="../assets/images/settings.svg" alt="settings">
      <span class="profile-section">Settings</span>
    </div>
    <div class="profile-rw" (click)="logoutPopup(logout)">
      <img src="../assets/images/logout.svg" alt="logout">
      <span class="profile-section">Log Out</span>

      <ng-template #logout let-d="dismiss" let-c="close">
        <div class="remove-bank">
          <div class="modal-header"></div>
          <div class="modal-body">
            <p class="text-center remove-bank-text">Are you sure you want to logout ?</p>
          </div>
          <div class="modal-footer">
            <div class="col-xs-6 text-center"><button type="button" class="btn no-btn"
                (click)="d('Close click')">No</button>
            </div>
            <div class="col-xs-6 text-center"><button type="button" class="btn yes-btn"
                (click)="c('Close click'); logOut();">Yes</button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<app-footer></app-footer>

<!-- loader html -->
<div class="lds-css ng-scope" *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
