<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow" (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span>Sell Funds</h3>
    </div>
  </div>
</div>

<div class="sip-top-sec sell-fund-top-sec">
  <div class="otm-head-sec full">
    <div class="container">
      <div class="otm-bank-img">
        <img src="../assets/images/icici-logo.png" alt="icici-logo">
      </div>
      <div class="otm-bank-and-acc">
        <span class="fund-name-txt">Fund Name</span>
        <span class="sip-bank-name">{{order.scheme_name}}</span>
      </div>
    </div>
  </div>
</div>

<div class="sell-price-sec full">
  <div class="container">
    <div *ngIf="otherError" class="alert alert-danger">
      {{errorMessage}}
    </div>
    <div *ngIf="!minRedeemstatus" class="alert alert-warning mt-20"> Your Total Redeemable Amount is less than Minimum
      Redeemable Amount</div>
    <div *ngIf="!zeroRedeemstatus && minRedeemstatus" class="alert alert-warning mt-20">Your Total Redeemable Amount
      cannot be less than Rs. 1</div>
    <h2><i class="fa fa-inr"></i> {{order.redeemable_amount}}</h2>
    <span>Total Redeemable Amount</span>
  </div>
</div>

<div class="sell-form-sec sip-amount-sec full">
  <form [formGroup]="sellAmtForm" (ngSubmit)="sellAmount()">
    <div class="form-group" [ngClass]="{'has-error': submitted  && f.amount.errors}">
      <div class="sell-rup-sec full" *ngIf="!unitsell">
        <input type="tel" class="form-control mandate-amt" autocomplete="off" maxlength="8" formControlName="amount"
          [(ngModel)]="sipamt" placeholder="Amount" #sellRef>
        <div class="rupees-img-sec">
          <img src="../assets/images/rupee-symbol.png" alt="rupee-symbol" class="rupee-sym">
        </div>
      </div>
      <span class="help-block" *ngIf="submitted && f.amount.errors">
        <span *ngIf="f.amount.errors.required">Amount is required</span>
        <span *ngIf="f.amount.errors.pattern">Please enter a valid amount</span>
        <span *ngIf="f.amount.errors.max">Maximum Redemption amount <i class="fa fa-inr"></i>
          {{order.redeemable_amount}} </span>
        <span *ngIf="f.amount.errors.min">Minimum Redemption amount <i class="fa fa-inr"></i>
          {{minRedeemAmt.redemption_amount_minimum}} </span>
      </span>
      <!-- <p class="max-inv-amt full">Minimum Redemption amount <i class="fa fa-inr"></i> 500</p> -->
      <span class="help-block" *ngIf="f.amount.errors?.serverError">{{ f.amount.errors?.serverError }}</span>
    </div>
    <div class="bottom-fix-btn full">
      <button type="submit" class="btn green-btn" [disabled]="!minRedeemstatus || !zeroRedeemstatus">Continue</button>
    </div>
  </form>

  <div class="unit-sell-sec full" *ngIf="unitsell">
    <span class="units-label">Units to Sell</span>
    <span class="unit-sell">{{order.total_units}}</span>
  </div>

  <div class="withdraw-all-sec full">
    <div class="checkbox-rw full">
      <label class="chekbox-container">
        <input type="checkbox" (change)="unitSell()" />
        <span class="checkmark"></span>
      </label>
      <span class="checkbox-text">Withdraw all units</span>
    </div>
  </div>
</div>

<div class="exit-load-sec full">
  <div class="container">
    <div class="exit-load-rw">
      <span class="exit-load-label">Exit Load</span>
      <span class="exit-load-data green-data" (click)="openExitLoad(viewExitLoad)">View</span>

      <ng-template #viewExitLoad let-d="dismiss" let-c="close">
        <div class="upload-sell-mandate exit-load">
          <div class="modal-body">
            <!-- <img alt="icici-logo" src="assets/images/icici-logo.png"> -->
            <button type="button" class="close" aria-label="Close" (click)="d('Dismiss click');">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="submit-upload-sec sell-upload-sec">
              <p class="ext-load-txt">Exit Load for this scheme</p>
              <p class="amc-fee-txt">Fee charged by the AMC for redeeming before a specific time</p>
            </div>

            <div class="sell-fund-details-sec">
              <div class="settlement-sec full">
                <div class="settlement-rw">
                  <span class="settlement-label"> Exit Load</span>
                  <span class="settlement-count">{{order.exit_load}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer"></div>
        </div>
      </ng-template>
    </div>

    <div class="exit-load-rw">
      <span class="exit-load-label">Settlement time</span>
      <span class="exit-load-data">10-15 Days</span>
    </div>

    <div class="exit-load-inner-sec full">
      <p class="alert alert-warning">Final amount will depend on NAV applicable at the time of redemption request (as
        confirmed by the AMC)</p>
    </div>
  </div>


  <div class="full" style="visibility: hidden;">
    <button type="submit" class="btn green-btn" id="proceedSipBtn" (click)="openSellFund(sellFund);">Continue</button>
  </div>

  <ng-template #sellFund let-d="dismiss" let-c="close">
    <div class="upload-sell-mandate">
      <div class="modal-body">
        <div class="submit-upload-sec sell-upload-sec">
          <img src="../assets/images/success.png" alt="success">
          <p class="success-greeting">Great!!</p>
          <p>Your <span class="upload-dark-txt">Sell</span> request has been <span
              class="upload-dark-txt">submitted</span></p>
        </div>
        <div class="sell-fund-details-sec">
          <div class="otm-head-sec full">
            <div class="otm-head-sec-inner full">
              <div class="otm-bank-img">
                <img src="../assets/images/icici-logo.png" alt="icici-logo">
              </div>
              <div class="otm-bank-and-acc">
                <span class="fund-name-txt">Fund Name</span>
                <span class="sip-bank-name">{{order.scheme_name}}</span>
              </div>
            </div>
            <div class="unit-sec full">
              <div class="unit-rw">
                <span class="unit-label">Amount per unit</span>
                <span class="unit-count"><i class="fa fa-inr"></i> {{order.current_nav}} (Approx.)</span>
              </div>
              <div class="unit-rw">
                <span class="unit-label">Total Units</span>
                <span class="unit-count">{{sellUnit | number : '1.4-4'}}</span>
              </div>
            </div>
          </div>

          <div class="settlement-sec full">
            <div class="settlement-rw">
              <span class="settlement-label">Settlement time</span>
              <span class="settlement-count">10 - 15 days</span>
            </div>
          </div>
        </div>
        <p class="alert alert-warning full">Final amount will depend on NAV applicable at the time of redemption request
          (as confirmed by the AMC)</p>
      </div>
      <div class="modal-footer">
        <div class="bottom-fix-btn full">
          <button type="button" class="btn green-btn" (click)="orderHistory();">Order History</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<!-- loader html -->
<div class="lds-css ng-scope" *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
