<div class="mob-div">
  <div class="container content-padd errordiv">
      <div class="row">
          <div class="center-img"> 
              <img src="assets/images/error.png" alt="failed">
          </div>
      </div>
      <div class="row">
          <p class="text-center add-top-margin-2 error-txt white-txt">
              Whoops, something went wrong.
          </p>
          <p class="text-center add-top-margin error-txt-2 white-txt">
              We will fix this issue. Please try again,
              and if the problem persists, Contact our support and
              let them know. Thank you!
          </p>
      </div>
      <div class="sign-btn-sec">
          <a class="btn green-btn" [routerLink]="['/home']">GO TO HOMEPAGE</a>
      </div>
  </div>
</div>