<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow" (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span> Email Id</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-inner-sec full">
    <div *ngIf="otherError" class="alert alert-danger" style="display: block">
      {{errorMessage}}
    </div>
    <!--page title-->
    <div class="page-title full">
      <h4>Enter Email ID</h4>
      <!-- <p>PAN is mandatory for investment in India.</p> -->
    </div>
    <div class="main-content-sec full">
      <!-- <div *ngIf="errorMessage">
        {{errorMessage}}
      </div> -->
      <form class="mobile-verification-form" [formGroup]="emailForm" (ngSubmit)="saveEmail()">
        <div class="form-group mobile-no-sec" [ngClass]="{'has-error': submitted  && f.email.errors}">
          <input type="text" autocomplete="off" class="form-control" id="email-id" formControlName="email" #emailRef
            placeholder="Email ID">
          <span class="help-block" *ngIf="submitted && f.email.errors">
            <span *ngIf="f.email.errors.required">Email Id is required</span>
            <span *ngIf="f.email.errors.email">Enter Valid Email Id</span>
          </span>
          <span class="help-block" *ngIf="f.email.errors?.serverError">{{ f.email.errors?.serverError }}</span>
        </div>
        <div class="form-group form-btn-sec start-in-sec full">
          <button type="submit" name="button" value="submit" class="btn green-btn">Next</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--loader html-->
<div class="lds-css ng-scope" *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>