<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow" (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span> FATCA Details</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-inner-sec full">
    <div *ngIf="otherError" class="alert alert-danger">
      {{errorMessage}}
    </div>
    <div class="main-content-sec facta-details-sec full">
      <form class="personal-details-form main-form-sec-group greay-from-border" [formGroup]="fatcadetailsForm"
        (ngSubmit)="saveFatcadetails()">
        <div class="main-form-sec">
          <div class="form-group mobile-no-sec" [ngClass]="{'has-error': submitted  && f.placeofbirth.errors}">
            <input type="text" autocomplete="off" class="form-control" id="placeofbirth" formControlName="placeofbirth"
              placeholder="Place of Birth" />
            <span class="help-block" *ngIf="submitted && f.placeofbirth.errors">
              <span *ngIf="f.placeofbirth.errors.required">Place of Birth is required</span>
              <span *ngIf="f.placeofbirth.errors.pattern">Please Enter Valid Place of Birth</span>
            </span>
            <span class="help-block" *ngIf="f.placeofbirth.errors?.serverError">{{ f.placeofbirth.errors?.serverError }}</span>
          </div>
          <div class="form-group full" [ngClass]="{'has-error': submitted && f.source_welath.errors}">
            <!-- <label>Source of Wealth</label> -->
            <div class="select-container">
              <span class="select-arrow fa fa-caret-down disable-arrow"></span>
              <select class="form-control" formControlName="source_welath">
                <option hidden disabled selected>Source of Wealth</option>
                <option *ngFor="let source of sourceofwelath" [value]="source.source_code"> {{source.source}}</option>
              </select>
            </div>

            <span class="help-block" *ngIf="f.source_welath.errors">
              <span *ngIf="f.source_welath.errors?.required">Please Select Source of Wealth</span>
              <span *ngIf="f.source_welath.errors?.SourceSelect">Please Select Source of Wealth</span>
            </span>
            <span class="help-block"
              *ngIf="f.source_welath.errors?.serverError">{{ f.source_welath.errors?.serverError }}</span>
          </div>


          <div class="form-group full" [ngClass]="{'has-error': submitted && f.incomeSlab.errors}">
            <!-- <label>Income Slab</label> -->
            <div class="select-container">
              <span class="select-arrow fa fa-caret-down disable-arrow"></span>
              <select class="form-control" formControlName="incomeSlab">
                <option hidden disabled selected>Income Slab</option>
                <option *ngFor="let income of incomeslab" [value]="income.income_code"> {{income.income}}</option>
              </select>
            </div>
            <span class="help-block" *ngIf="f.incomeSlab.errors">
              <span *ngIf="f.incomeSlab.errors?.required">Please Select Your Income Slab</span>
              <span *ngIf="f.incomeSlab.errors?.IncomeSlabSelect">Please Select Your Income Slab</span>
            </span>
            <span class="help-block"
              *ngIf="f.incomeSlab.errors?.serverError">{{ f.incomeSlab.errors?.serverError }}</span>
          </div>

          <div class="form-group full" [ngClass]="{'has-error': submitted && f.occ_code.errors}">
            <!-- <label>Occupation</label> -->
            <div class="select-container">
              <span class="select-arrow fa fa-caret-down disable-arrow"></span>
              <select class="form-control" formControlName="occ_code">
                <option hidden disabled selected>Occupation</option>
                <option *ngFor="let occupation of occupationCode" [value]="occupation.Occupation_Code"> {{occupation.Occupation}}</option>
              </select>
            </div>
            <span class="help-block" *ngIf="f.occ_code.errors">
              <span *ngIf="f.occ_code.errors?.required">Please Select Your Occupation</span>
              <span *ngIf="f.occ_code.errors?.OccupationSelect">Please Select Your Occupation</span>
            </span>
            <span class="help-block" *ngIf="f.occ_code.errors?.serverError">{{ f.occ_code.errors?.serverError }}</span>
          </div>

          <!--<div class="form-group full" [ngClass]="{'has-error': submitted && f.occ_type.errors}">
            <div class="select-container">
              <span class="select-arrow fa fa-caret-down disable-arrow"></span>
              <select class="form-control" formControlName="occ_type">
                <option hidden disabled selected>Occupation Type</option>
                <option *ngFor="let occupationType of OccupationType" [value]="occupationType.source_code"> {{occupationType.source}}</option>
              </select>
            </div>
            <span class="help-block" *ngIf="f.occ_type.errors">
              <span *ngIf="f.occ_type.errors?.required">Please Select Your Occupation Type</span>
              <span *ngIf="f.occ_type.errors?.OccupationTypeSelect">Please Select Your Occupation Type</span>
            </span>
            <span class="help-block" *ngIf="f.occ_type.errors?.serverError">{{ f.occ_type.errors?.serverError }}</span>
          </div>-->

        </div>
        <div class="form-group form-btn-sec start-in-sec full">
          <button type="submit" name="button" value="submit" class="btn green-btn">Next</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- loader html -->
<div class="lds-css ng-scope" *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
