<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow"><fa class="chevron" name="chevron-left"></fa></span> KYC Verification</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-inner-sec full">
    <div class="main-content-sec full">
      <div class="kyc-veri-rw full">
        <div class="kyc-veri-title-col">
          <h4>PAN Details</h4>
        </div>
        <div class="kyc-veri-check-col">
          <span class="nominee-checked">
            <label class="chekbox-container">
              <input type="checkbox" id="nomineeCheck" disabled checked>
              <span class="checkmark"></span>
            </label>
          </span>
        </div>
      </div>

      <div class="kyc-veri-rw full">
        <div class="kyc-veri-title-col">
          <h4>Address Details</h4>
        </div>
        <div class="kyc-veri-check-col">
          <span class="nominee-checked">
            <label class="chekbox-container">
              <input type="checkbox" id="nomineeCheck" disabled checked>
              <span class="checkmark"></span>
            </label>
          </span>
        </div>
      </div>

      <div class="kyc-veri-rw full">
        <div class="kyc-veri-title-col">
          <h4>Personal Details</h4>
        </div>
        <div class="kyc-veri-check-col">
          <span class="nominee-checked">
            <label class="chekbox-container">
              <input type="checkbox" id="nomineeCheck" disabled checked>
              <span class="checkmark"></span>
            </label>
          </span>
        </div>
      </div>

      <div class="form-group form-btn-sec start-in-sec full">
        <div class="checkbox-rw full">
          <label class="chekbox-container">
            <input type="checkbox" checked="checked" disabled>
            <span class="checkmark"></span>
          </label>
          <span class="checkbox-text">If any document is wrong, or unclear your KYC May fail.</span>
        </div>
        <button type="submit" name="button" value="submit" class="btn green-btn">Continue</button>
      </div>
    </div>
  </div>
</div>
