<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow" (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span> Pan Number</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-inner-sec pan-no-sec full">
    <div *ngIf="otherError" class="alert alert-danger">
        {{errorMessage}}
    </div>
    <!--page title-->
    <div class="page-title full">
      <h4>Enter PAN Number</h4>
      <p>PAN is mandatory for investment in India.</p>
      <p>This is one time setup & takes less than a minute.</p>
    </div>
    <div class="main-content-sec full">
      <form class="mobile-verification-form" [formGroup]="pannumberForm" (ngSubmit)="savePannumber()">
        <div class="form-group mobile-no-sec" [ngClass]="{'has-error': submitted && f.pan.errors}">
          <input type="text" class="form-control" id="pan-number" formControlName="pan" #pannumberRef
            placeholder="Enter Pan Number" maxlength="10" minlength="10" autocomplete="off" (keyup)="checkPanNo()" onCut="return false" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"/>
          <span class="help-block" *ngIf="submitted && f.pan.errors">
            <span *ngIf="f.pan.errors.required">PAN Number is required</span>
            <span *ngIf="f.pan.errors.pattern">Enter Valid PAN Number</span>
          </span>
          <span class="help-block" *ngIf="f.pan.errors?.serverError">{{ f.pan.errors?.serverError }}</span>
        </div>
        <div class="form-group form-btn-sec start-in-sec full">
          <button type="submit" name="button" value="submit" class="btn green-btn">Next</button>
        </div>
      </form>
    </div>

    <div class="confirm-ifsc-sec full" *ngIf="conShow">
      <h6 class="confirm-ifsc-sec-title">Confirm PAN details</h6>
      <div class="confirm-ifsc-sec-inner full">
        <p class="pan-label-txt">Your name as per PAN card is : <span class="pan-name-txt"> {{ resPanNo }} </span></p>
      </div>
    </div>

  </div>
</div>
<button type="button" value="button" hidden  id="cvlKraBtn" (click)="cvlKraPopup(cvlKra)"></button>

<!--set password success popup-->
<ng-template #cvlKra let-d="dismiss" let-c="close">
  <div class="remove-bank">
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="d('Dismiss click');">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body set-pass-popup">
      <img src="../assets/images/error.png" alt="success">
      <p class="success-greeting">Sorry!!</p>
      <p class="text-center remove-bank-text">Your PAN Card is not registered with KRA. Kindly contact Support Team <span class="upload-dark-txt"><a href="tel:022-61208000">022-61208000</a></span></p>
    </div>
  </div>
</ng-template>

<!-- loader html -->
<div class="lds-css ng-scope" *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
