<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow" (click)="this.location.back();"><fa class="chevron" name="chevron-left"></fa></span> Photo</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-inner-sec full">
    <!--page title-->
    <div class="page-title full">
      <h4>Click Your photo</h4>
      <p>Make sure your photo looks like passport photo.</p>
    </div>
    <div class="main-content-sec full">
      <div class="photo-sec full" [ngClass]="{'hide': !showPhotoSec}">
        <img src="../assets/images/photo_template.svg" alt="photo-sec-img"/>
      </div>

      <div class="webcam-sec full"  *ngIf="showPhotoCam">
        <webcam [height]="400" [width]="400" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
      [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
      (initError)="handleInitError($event)"></webcam>
      </div>

      <div class="snapshot" *ngIf="webcamImage">
      	<img [src]="webcamImage.imageAsDataUrl"/>
      </div>

      <div class="snapshot"  *ngIf="showGallary">
        <img [src]="imageUrl" style="width: 250px;"/>
      </div>
      <div class="form-group form-btn-sec start-in-sec full">
        <div class="gal-cam-btn-rw"  *ngIf="showPhotoSec">
          <div class="gal-cam-btn-col">
            <button type="button" name="button" value="Gallery" class="btn green-btn gallery-btn"><input #image type="file" accept="image/*" (change)="processFile($event.target.files)"><span class="gal-img-logo"><img src="../assets/images/image_icon.svg"/></span>  <span class="btn-title">Gallery</span></button>
          </div>
          <div class="gal-cam-btn-col">
            <button type="button" name="button" value="Camera" class="btn green-btn" (click)="onAddData()"><span class="gal-img-logo"><img src="../assets/images/camera-icon.svg"/></span> <span class="btn-title">Camera</span></button>
          </div>
        </div>

        <div class="gal-cam-btn-rw"   *ngIf="!showPhotoSec">
          <div class="gal-cam-btn-col"  *ngIf="!clickPhotoSec">
            <button type="button" name="button" value="Upload" class="btn green-btn"  (click)="triggerSnapshot()" *ngIf="showPhotoCam"> Click</button>
          </div>
          <div class="gal-cam-btn-col"  *ngIf="showGallary">
            <button type="button" name="button" value="Upload" class="btn green-btn gallery-upload" (click)="onUpload(image)">Upload</button>
          </div>
          <div class="gal-cam-btn-col"   *ngIf="clickPhotoSec">
            <button type="button" name="button" value="Upload" class="btn green-btn" (click)="onUpload()"> Upload</button>
          </div>
          <div class="gal-cam-btn-col">
            <button type="button" name="button" class="btn green-btn"   (click)="cancelProcess()">Cancel</button>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>
