<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow" (click)="this.location.back();"><fa class="chevron" name="chevron-left"></fa></span> <span *ngIf="flag">Reset Password</span><span *ngIf="!flag">Set Password</span></h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-inner-sec full">
    <div class="main-content-sec full">
      <div *ngIf="otherError"  class="alert alert-danger">
          {{errorMessage}}
      </div>
      <form class="bank-details-form  main-form-sec-group greay-from-border" [formGroup]="setPasswordForm" (ngSubmit)="savePassword()">
        <div class="form-group" [ngClass]="{'has-error': (submitted  && f.password.errors) || f.password.errors?.serverError}">
          <div class="first-bank-account full">
            <input type="text" class="form-control passtxt" id="bank-acc-no" formControlName="password"  placeholder="Enter Password" #bankdetailsRef  (input)="onSearchChange($event.target.value)" autocomplete="off">
            <span class="show-password-icon" (click)="showOrHideBankNumber()"><i class="fa fa-eye" aria-hidden="true" #showhideRef></i></span>
            <span class="error-block speech-bubble" *ngIf="!showError">
               
              <label [ngClass]="f.password.errors?.required || f.password.errors?.minlength  ? 'text-danger' : 'text-success'"><i class="fa" [ngClass]=" f.password.errors?.required || f.password.errors?.minlength ? 'fa-times-circle' : 'fa-check-circle' "></i> Must be at least 8 characters!</label>
              <label [ngClass]="f.password.errors?.cannotContainSpace ? 'text-danger' : 'text-success'"><i class="fa" [ngClass]=" f.password.errors?.cannotContainSpace ? 'fa-times-circle' : 'fa-check-circle' "></i> Space not allowed!</label>
              <label class="col" [ngClass]="f.password.errors?.required || f.password.errors?.hasNumber  ? 'text-danger' : 'text-success'"><i class="fa" [ngClass]="f.password.errors?.required || f.password.errors?.hasNumber ? 'fa-times-circle' : 'fa-check-circle'"></i> Must contain at least 1 number!</label>
              <label class="col" [ngClass]="f.password.errors?.required || f.password.errors?.hasCapitalCase  ? 'text-danger' : 'text-success'"><i class="fa" [ngClass]=" f.password.errors?.required || f.password.errors?.hasCapitalCase ? 'fa-times-circle' : 'fa-check-circle' "></i> Must contain at least 1 in Capital Case!</label>
              <label class="col" [ngClass]="f.password.errors?.required || f.password.errors?.hasSmallCase  ? 'text-danger' : 'text-success'"><i class="fa" [ngClass]=" f.password.errors?.required || f.password.errors?.hasSmallCase ? 'fa-times-circle' : 'fa-check-circle' "></i> Must contain at least 1 Letter in Small Case!</label>
              <label class="col" [ngClass]="f.password.errors?.required || f.password.errors?.hasSpecialCharacters ? 'text-danger' : 'text-success'"> <i class="fa" [ngClass]=" f.password.errors?.required || f.password.errors?.hasSpecialCharacters ? 'fa-times-circle' : 'fa-check-circle' "></i> Must contain at least 1 Special Character!</label>
            </span>
            <span class="help-block" *ngIf="submitted && f.password.errors">
              <span *ngIf="f.password.errors.required">Please Enter Password</span>
          </span>
            </div>
            <span  class="help-block" *ngIf="f.password.errors?.serverError">{{ f.password.errors?.serverError }}</span>
        </div>

        <div class="form-group" [ngClass]="{'has-error': submitted  && f.confPassword.errors}">
            <input  type="text" autocomplete="off" class="form-control  passtxt" id="confirm-bank-acc-no" formControlName="confPassword" placeholder="Re-Enter Password">
            <span class="help-block" *ngIf="submitted && f.confPassword.errors">
                <span *ngIf="f.confPassword.errors.required">Please Re-Enter Password</span>
                <span *ngIf="f.confPassword.errors.mustMatch">Passwords do not match</span>
                <div *ngIf="f.confPassword.errors.cannotContainSpace">Space not allowed</div>
            </span>
        </div>

        <div class="form-group form-btn-sec start-in-sec full">
          <!-- <button type="submit" name="button" value="submit" class="btn green-btn" *ngIf="this.loginflag === false">Next</button> -->
          <button type="submit" name="button" value="submit" class="btn green-btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<button type="button" value="button" hidden  id="setPassword" (click)="setPasswordPopup(setPassword)"></button>

<!--set password success popup-->
<ng-template #setPassword let-d="dismiss" let-c="close">
  <div class="remove-bank">
    <div class="modal-header"></div>
    <div class="modal-body set-pass-popup">
      <img src="../assets/images/success.png" alt="success">
      <p class="success-greeting">Great!!</p>
      <p class="text-center remove-bank-text">Your password is updated <span class="upload-dark-txt">successfully</span></p>
    </div>
  </div>
</ng-template>

<!--loader html-->
<div class="lds-css ng-scope"  *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
