<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow" (click)="this.location.back();"><fa class="chevron" name="chevron-left"></fa></span> Verification</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-inner-sec full">
    <!--page title-->
    <div class="page-title full">
      <h4>Signature Verification</h4>
      <p>Make Sure your signature fits within the frame</p>
    </div>
    <div class="main-content-sec full">
      <div class="sign-img-sec">
        <img src="../assets/images/signature.svg" alt="sign-img" class="img-center"/>
      </div>
      <div class="checkbox-rw full">
        <label class="chekbox-container">
          <input type="checkbox" checked="checked" disabled>
          <span class="checkmark"></span>
        </label>
        <span class="checkbox-text">I am an Indian Citizen, born and residing in India.I am not PEP (politically exposed) or related to PEP.</span>
      </div>

      <div class="form-group form-btn-sec start-in-sec full">
        <button type="submit" name="button" value="submit" class="btn green-btn" (click)="saveVerification()">Confirm</button>
      </div>
    </div>
  </div>
</div>
