<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow" (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span>Fund Details</h3>
    </div>
  </div>
</div>

<div class="fund-details-sec full">
  <!--funds name sec-->
  <div class="fund-name-sec full" *ngIf="funds.fund_details != 'null'">
    <div class="otm-head-sec full">
      <div class="otm-bank-img">
        <img alt="icici-logo" src="../assets/images/icici-logo.png">
      </div>
      <div class="otm-bank-and-acc">
        <span class="otm-bank-name">{{funds.fund_details.SchemeName}}</span>
      </div>
    </div>
    <ul class="fund-label-list">
      <li>{{funds.fund_details.ASSET_TYPE}}</li>
      <li>{{funds.fund_details.PlanName}}</li>
      <!-- <li>Moderately High</li> -->
    </ul>
  </div>
  <!--funds name sec-->
  <div class="container">
    <div *ngIf="otherError" class="alert alert-danger full">
      {{errorMessage}}
    </div>

    <!--chart-->
    <div class="fund-nav-sec line-chart-sec full" *ngIf="funds.fund_details != 'null'">

      <div class="fund-absol-returns-main-sec full">
        <div class="fund-absol-sec-inner text-center">
          <p [ngClass]="{'text-red': funds.fund_details.three_year < 0}">
            {{funds.fund_details.three_year | number : '1.2-2'}}% <i class="fa"
              [ngClass]="funds.fund_details.three_year < 0 ? 'fa-long-arrow-down' : 'fa-long-arrow-up'"></i></p>
          <p>3 yrs CAGR Return</p>
        </div>
        <!-- <div class="fund-year-load-sec full fund-inner-sec">
          <div class="fund-load-col">
            <span class="fund-load-yr">This Fund</span>
            <span class="fund-load-per">- 15.79% </span>
          </div>
          <div class="fund-load-col">
            <span class="fund-load-yr">vs</span>
          </div>
          <div class="fund-load-col">
            <span class="fund-load-yr">Sensex&nbsp;<i class="fa fa-caret-down"></i></span>
            <span class="fund-load-per">-4.44%</span>
          </div>
        </div> -->
      </div>

       <div *ngIf="chart">
        <canvas id="canvas">{{ chart }}</canvas>
      </div>

      <div class="line-chart-inner-sec full">
        <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
          [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
          [plugins]="lineChartPlugins"></canvas>
      </div>

      <ul id="grouplist" class="line-year-rw full">
        <li [ngClass]="{'active': selectedItem == item.period}" (click)="getNavmapDetails(item.period);"
          *ngFor="let item of monthPeriod">
          <span class="month-year-sec">{{item.name}}</span>
        </li>
      </ul>
      <!--chart loader html-->
      <div class="lds-css ng-scope" style="position: absolute;" *ngIf="chartLoading">
        <div style="width:100%;height:100%" class="lds-dual-ring">
          <div></div>
        </div>
      </div>

    </div>

    <!--funds nav sec-->
    <div class="fund-nav-sec full">
      <div class="fund-nav-title-sec fund-inner-sec">
        <div class="fund-nav-col">
          <span>NAV</span>
          <span>(As on {{funds.fund_nav.NAVDATE | date:'MMM'}} {{funds.fund_nav.NAVDATE | date: 'dd'}},
            {{funds.fund_nav.NAVDATE | date: 'yyyy'}})</span>
        </div>
        <div class="fund-amount-col"><i class="fa fa-inr" aria-hidden="true"></i> {{funds.fund_nav.NAVRS}}</div>
      </div>
      <div class="fund-nav-details-sec">
        <div class="fund-exp-sec fund-details">
          <div class="fund-label">Lock in period (in years)</div>
          <div class="fund-count">{{funds.fund_details.lock_in_period != '0' ? funds.fund_details.lock_in_period : 'NIL'}}</div>
          <!-- <div class="fund-count" *ngIf="funds.fund_details.lock_in_period != '0';else other_content">{{funds.fund_details.lock_in_period}}</div> -->
          <!-- <ng-template #other_content>NIL</ng-template> -->
        </div>
        <!-- <div class="fund-per-sec fund-details">
          <div class="fund-count"></div>
          <div class="fund-label">Expense Ratio</div>
        </div> -->
      </div>
    </div>
    <!--funds nav sec-->
    <div class="cagr-sec full">
      <h2 class="fund-sec-title">CAGR Returns</h2>
      <div class="fund-year-load-sec full fund-inner-sec">
        <div class="fund-load-col">
          <span class="fund-load-yr">1 year</span>
          <span class="fund-load-per">{{funds.fund_details.one_year | number : '1.2-2'}}%</span>
        </div>
        <div class="fund-load-col">
          <span class="fund-load-yr">3 year</span>
          <span class="fund-load-per">{{funds.fund_details.three_year | number : '1.2-2'}}%</span>
        </div>
        <div class="fund-load-col">
          <span class="fund-load-yr">5 year</span>
          <span class="fund-load-per">{{funds.fund_details.five_year | number : '1.2-2'}}%</span>
        </div>
      </div>

      <div class="fund-man-sec full fund-inner-sec">
        <div class="fund-man-profile">
          <div class="fund-man-profile-img">
            <img src="../assets/images/fund-man-profile.png" alt="fund-img-manager" class="fund-img-manager" />
          </div>
          <div class="fund-man-profile-info">
            <span class="fund-man-name">{{funds.fund_details.FundManager}}</span>
            <span class="fund-position">Fund Manager</span>
          </div>
        </div>
        <!-- <div class="fund-man-exp">+10 years Experience | 10+ AMCs</div> -->
      </div>

      <div class="fund-exit-sec full fund-inner-sec">
        <div class="exit-load-sec full">
          <div class="exit-load-rw">
            <label>Exit Load</label>
            <span>{{funds.fund_details.exit_load != '0' ? funds.fund_details.exit_load : 'NIL'}}</span>
          </div>
          <div class="exit-load-rw">
            <label>P/E Value</label>
            <span>{{funds.fund_details.PE}}</span>
          </div>
          <div class="exit-load-rw">
            <label>Launch Date</label>
            <span>{{funds.fund_details.LaunchDate | date:'MMM'}} {{funds.fund_details.LaunchDate | date: 'dd'}},
              {{funds.fund_details.LaunchDate | date: 'yyyy'}}</span>
          </div>
          <div class="exit-load-rw">
            <label>Bench mark</label>
            <span>{{funds.fund_details.BenchMark}}</span>
          </div>
          <div class="exit-load-rw" *ngIf="funds.fund_details.NetAsset !=null">
            <label>Fund House AUM</label>
            <span><i class="fa fa-inr" aria-hidden="true"></i> {{percentAmount}} Cr </span>
          </div>
        </div>
      </div>
    </div>

    <!--funds nav sec-->
    <div class="full">
      <h2 class="fund-sec-title">Sector Holding Summary</h2>
     <div class="fundsec-sec full" [ngClass]="{'fundsec-height': fundres}">
       <!--chart loader html-->
       <div class="lds-css ng-scope" style="position: absolute;" *ngIf="!fundres">
        <div class="lds-dual-ring">
          <div></div>
        </div>
      </div>
      <div class="top-fund-head-rw sec-fund-rw">
        <div class="top-fund-col" [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1'">Sectors
        </div>
        <div class="top-fund-col" [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode ='tab2'">Companies
        </div>
      </div>
      <div *ngIf="fundres" class="fund-sector-holding-sec full fund-inner-sec">
        <div [ngSwitch]="viewMode">
          <div id="tab1" *ngSwitchCase="'tab1'" class="full top-fund-inner">
            <div class="fund-sector-details full">
              <div class="fund-sector-details-rw">
                <div class="fund-sector-detal-size-col fund-details">
                  <span class="fund-sec-label">Scheme Asset Size </span>
                   <span class="fund-sec-data"><i class="fa fa-inr" aria-hidden="true"></i> {{schemeAssetSize}} Cr</span>              </div>
                <div class="fund-sector-date-col fund-details">
                  <span class="fund-sec-label">As of date</span>
                  <span class="fund-sec-date">
                    {{funsectordata.fund_concentration[2].INVDATE | date:'MMM'}} {{funsectordata.fund_concentration[2].INVDATE | date: 'dd'}},
            {{funsectordata.fund_concentration[2].INVDATE | date: 'yyyy'}}
                  </span>
                </div>
              </div>

              <div class="fund-sec-rw canvas-rw">
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType" [options]="doughnutChartOptions" [colors]="chartColors">
                </canvas>
              </div>

              <div class="fund-sec-rw" *ngFor="let sectors of newFundDetails;">
                <div class="scheme-name-col">
                  <span class="scheme-name-colour blue-box" [style.background]="sectors.color"></span>
                  <span class="scheme-name">{{sectors.ASECT_TYPE}}</span>
                </div>
                <div class="scheme-percentage">{{sectors.HOLDPERCENTAGE  | number : '1.2-2'}}%</div>
              </div>
            </div>
          </div>
          <div id="tab2" *ngSwitchCase="'tab2'" class="full">
            <div class="fund-sec-rw" *ngFor="let company of funsectordata.fund_concentration[1]">
              <div class="scheme-name-col">
                <span class="scheme-name">{{company.Compname}}</span>
              </div>
              <div class="scheme-percentage">{{company.Holdpercentage  | number : '1.2-2'}}%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  
    <div class="container">
      <div class="exit-load-inner-sec full">
        <p class="notice-para">By Continuing, I agree with the <span class="terms-and-cond-txt" (click)="disclaimerText(content)">Disclaimers</span> of TradeSmart.</p>
          <ng-template #content let-d="dismiss" let-c="close">
            <div class="mandate-example">
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p class="mandate-upload-eg-text ml">Disclaimer</p>
                <p class="ml">Mutual fund investments are subject to market risks. Please read the scheme related document carefully before investing.</p>
                <ul>
                  <li class="mandate-upload-eg-para pt-0">
                    TradeSmart-MF  is only acting as an intermediary which collects the orders from the users and places them to BSE StarMF for execution. TradeSmart-MF shall not be liable or held responsible for any non-execution or incorrect execution of orders placed by the client for buying or redeeming any fund, caused due to, but not being limited to system failure or insufficient funds.</li>
                  <li class="mandate-upload-eg-para">The historical performance of various funds shown in the app does not constitute any kind of recommendation, advice or the like. Historical Performances doesn't indicate future returns. The client  should assess his or her individual investment suitability before investing in any scheme.</li>  
                </ul>
              </div>
              <div class="modal-footer">
                <div><button type="button" class="btn yes-btn" (click)="d('Close click')">OK</button>
                </div>
              </div>
            </div>
          </ng-template>
          <br />
      </div>
    </div>
    <div class="bottom-fix-btn full" [ngClass]="{'btn-col': funds.is_sip.sip_flag == 'N' || funds.is_sip == ''}">
      <div class="fix-btn-col" *ngIf="funds.is_sip.sip_flag === 'Y'">
        <button class="btn green-btn" (click)="monthlySip('sip');">Monthly SIP</button>
      </div>
      <div class="fix-btn-col">
        <button class="btn white-btn" (click)="monthlySip('lumsum');">One Time</button>
      </div>
    </div>
  </div>
</div>

<!--loader html-->
<div class="lds-css ng-scope" *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
