<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow" (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span> One-time Mandate </h3>
    </div>
  </div>
</div>

<div class="container">

  <div class="otm-head-sec full">
    <div class="otm-bank-img">
      <img src="../assets/images/icici-logo.png" alt="icici-logo">
    </div>
    <div class="otm-bank-and-acc">
      <span class="otm-bank-name">{{bankdetails.bank_name}}</span>
      <span class="otm-bank-acc-no">A/C: {{bankdetails.account_number}}</span>
    </div>
  </div>
  <div *ngIf="otherError" class="alert alert-danger">
      {{errorMessage}}
    </div>
  <div class="otm-main-sec full">
    <span class="otm-text">Maximum Auto - debit limit</span>
    <span class="" (clickOutside)="ClickOutside()">
    <span class="otm-text-info" (click)="showtooltip()">
      <img src="../assets/images/info.png" alt="info">
    </span>
    <div class="client-icon" *ngIf="showTooltip">
      <div class="speech-bubble-tool tooltip-div" style="display: block;">
        <strong> Maximum Auto-debit limit </strong> <br>
        It is the maximum amount of money you can invest on any given day of a month. It is set at Rs. 1,00,000 by default, which means that using this mandate, you can invest up to Rs. 1,00,000 in SIPs on any day of the month
        <span class="close-bubble-tool" (click)="showtooltip()">GOT IT!</span>
      </div>
    </div>
  </span>
    <!-- <div class="tooltip-mandate">
      Maximum Auto-debit limit
      It is the maximum amount of money you can invest on any given day of a month. It is set at Rs. 1,00,000 by default, which means that using this mandate, you can invest up to Rs. 1,00,000 in SIPs on any day of the month
    </div> -->
    <form [formGroup]="otmForm" (ngSubmit)="saveOtm()" class="otm-form">
      <input type="text" class="form-control mandate-amt" formControlName="otmAmount" placeholder="Amount"
        autocomplete="off" maxlength="8" [(ngModel)]="otamount" readonly>
      <!-- <span class="help-block" *ngIf="submitted && f.otmAmount.errors">
        <span *ngIf="f.otmAmount.errors.required">Max auto debit limit is required</span>
      </span>
      <span class="help-block" *ngIf="submitted && f.otmAmount.errors">
        <span *ngIf="f.otmAmount.errors.min">Minimum investment amount <i class="fa fa-inr"></i> 500</span>
      </span> -->
      <img src="../assets/images/rupee-symbol.png" alt="rupee-symbol" class="rupee-sym">
      <div class="bottom-fix-btn full">
        <button type="submit" class="btn green-btn">Next</button>
      </div>
    </form>

    <!-- <div class="otm-amt-sec full">
      <div class="col-xs-12">
        <div class="mandate-amt-btn"><span class="btn green-btn" (click)="getOtmAmount($event.target.innerText)"><i
              class="fa fa-inr"></i> 1,00,000</span></div>
        <div class="mandate-amt-btn"><button type="button" class="btn green-btn"
            (click)="getOtmAmount($event.target.innerText)"><i class="fa fa-inr"></i> 3,00,000</button></div>
      </div>
      <div class="col-xs-12">
        <div class="mandate-amt-btn"><button type="button" class="btn green-btn"
            (click)="getOtmAmount($event.target.innerText)"> <i class="fa fa-inr"></i> 5,00,000</button></div>
        <div class="mandate-amt-btn"><button type="button" class="btn green-btn"
            (click)="getOtmAmount($event.target.innerText)"><i class="fa fa-inr"></i> 10,00,000</button></div>
      </div>
      <div class="col-xs-12">
        <div class="mandate-amt-btn"><button type="button" class="btn green-btn"
            (click)="getOtmAmount($event.target.innerText)"><i class="fa fa-inr"></i> 25,00,000</button></div>
      </div>
    </div> -->
  </div>
</div>

<!-- loader html -->
<div class="lds-css ng-scope" *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
