<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow" (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span> <span *ngIf="investment_type == 'sip'">SIP</span> <span *ngIf="investment_type == 'lumsum'">ONE
          TIME</span>
      </h3>
    </div>
  </div>
</div>

<div class="full order-history-background">
  <div class="full sip-payment-sec">
    <div class="sip-top-sec">
      <div class="otm-head-sec full">
        <!-- <div class="otm-bank-img">
          <img src="../assets/images/icici-logo.png" alt="icici-logo">
        </div> -->
        <div class="otm-bank-and-acc">
          <span class="fund-name-txt">Fund Name</span>
          <span class="sip-bank-name">{{scheme_details.fund_details.FundName}}</span>
        </div>
      </div>
    </div>
    <div class="sip-date-amt-sec full" [ngClass]="{'sip-lumsum-sec': investment_type == 'lumsum'}">
      <div *ngIf="otherError" class="alert alert-danger">
        {{errorMessage}}
      </div>
        <div class="col-xs-6">
          <div class="sip-amt-sec">
            <p class="sip-bold-txt"><i class="fa fa-inr"></i> {{scheme_amount.amount}}</p>
            <span class="sip-inner-txt">Amount to be paid</span>
          </div>
        </div>
        <div class="col-xs-6" *ngIf="investment_type == 'sip'">
          <div class="sip-pay-date-sec">
            <p class="sip-bold-txt">{{monthly_date}}</p>
            <span class="sip-inner-txt">Billing date every month</span>
          </div>
        </div>
    </div>

   <div *ngIf="this.banklist.length > 0">
    <p class="acc-txt full">Select Account</p>

    <div class="sip-bank-account-sec full">
      <form [formGroup]="sippaymentForm" (ngSubmit)="sipPayment()">
        <div class="form-group" [ngClass]="{'has-error': submitted  && f.bankSip.errors}">
          <div class="sip-bank-account-sec-inner" *ngFor="let bank of banklist">
            <div class="radio-sec">
              <label class="radio-inline">
                <input type="radio" [value]="bank.id" [checked]="bankID == bank.id" (click)="bankIdCap(bank.id)" formControlName="bankSip" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="sip-bank-details">
              <!-- <div class="otm-bank-img">
                <img src="../assets/images/icici-logo.png" alt="bank-logo">
              </div> -->
              <div class="otm-bank-and-acc">
                <span class="otm-bank-name">{{bank.name}}</span>
                <span class="otm-bank-acc-no">A/C: {{bank.account_number}}</span>
              </div>
            </div>
          </div>
            <span class="help-block help-error full"  *ngIf="submitted && f.bankSip.errors">
              <span *ngIf="f.bankSip.errors.required">Please Select Bank</span>
            </span>
        </div>
        <div class="bottom-fix-btn full">
          <button type="submit" class="btn green-btn" value="submit">Proceed to Payment</button>
        </div>
      </form>
    </div>
  </div>

     <div class="sip-pay-add-btn start-in-sec add-mandate-btn full" *ngIf="this.banklist.length == 0">
       <button type="button" name="button" value="submit" class="btn green-btn" (click)="addBank()">
        <img src="assets/images/add-mandate.png" alt="add"> ADD BANK ACCOUNT</button>    
    </div>

      <span class="help-block" *ngIf="submitted && f.bankSip.errors">
        <span *ngIf="f.bankSip.errors.required">Please Select Bank</span>
      </span>
  </div>
</div>

<div class="full" style="visibility: hidden;">
  <button type="submit" class="btn green-btn" id="open_mandate" (click)="sipPaymentPopup(payment);">Continue</button>
</div>

<ng-template #payment let-d="dismiss" let-c="close">
  <div class="upload-sell-mandate">
    <div class="modal-body">
      <div class="submit-upload-sec sell-upload-sec">
        <img src="../assets/images/success.png" alt="success">
        <p class="success-greeting">Great!!</p>
        <p>Your order has been placed <span class="upload-dark-txt">successfully</span>.</p>
      </div>
    </div>
    <div class="modal-footer">
      <div class="bottom-fix-btn full">
        <button type="button" class="btn green-btn" (click)="orderHistory();">Order History</button>
      </div>
    </div>
  </div>
</ng-template>

<div class="payment-popup" *ngIf="paymentLoad">
  <div class="text-center">
    <div class="resend-timer" [ngClass]="{'resend-visible': !resend}"><countdown-timer [countDownTimerConfig]="testConfig"></countdown-timer></div>
    <div style="width:100%;height:100%" class="lds-dual-ring" *ngIf="paymentLoading">
      <div></div>
    </div>
    <p class="pay-status">Checking Payment Status</p>
  </div>
    <button type="button" class="btn green-btn" (click)="closePaymentPop()">CANCEL</button>
</div>

<!-- loader html -->
<div class="lds-css ng-scope" *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>

