<!-- <div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3><span class="title-arrow">
          <fa class="chevron" name="chevron-left"></fa>
        </span> Login </h3>
    </div>
  </div>
</div> -->

<div class="text-center login-logo">
  <img src="../assets/images/TradeSmartMutualFund_logo.png" alt="logo">
</div>

<div class="container">
  <div class="page-inner-sec full login-inner">
      <div *ngIf="otherError" class="alert alert-danger">
          {{errorMessage}}
        </div>
    <div class="main-content-sec full">
      <form class="main-form-sec-group greay-from-border" [formGroup]="loginForm" (ngSubmit)="saveLogin()">
        <div class="full">
          <div class="form-group" [ngClass]="{'has-error': submitted  && f.email.errors}">
            <input type="email" class="form-control" formControlName="email" placeholder="Email Address" #emailRef>
            <span class="help-block" *ngIf="submitted && f.email.errors">
              <span *ngIf="f.email.errors.required">Email address is required</span>
              <span *ngIf="f.email.errors.email">Please enter valid email address</span>
            </span>
          </div>
          <div class="form-group" [ngClass]="{'has-error': submitted  && f.password.errors}">
            <div class="full first-bank-account">
              <input  type="text" class="form-control passtxt" formControlName="password" placeholder="Password"
                autocomplete="off" #passRef>
              <span class="show-password-icon" (click)="showOrHideBankNumber()"><i class="fa fa-eye" aria-hidden="true"
                  #showhideRef></i></span>
              <span class="help-block" *ngIf="submitted && f.password.errors">
                <span *ngIf="f.password.errors.required">Password is required</span>
              </span>
            </div>
          </div>

          <span class="serach-btn pull-right" (click)="forgotPassword()">Forgot Password?</span>
          <div class="full text-center top">
            <span class="text-light">Don't have an account? <span class="serach-btn" [routerLink]="['/email']">Signup</span></span>
          </div>
          <div class="form-btn-sec login-in-sec start-in-sec full">
            <div class="form-group full">
              <button type="submit" name="button" value="submit" class="btn green-btn">Login</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

  <!-- loader html -->
  <div class="lds-css ng-scope"  *ngIf="loading">
    <div style="width:100%;height:100%" class="lds-dual-ring">
      <div></div>
    </div>
  </div>
