.no-network-content.update-div{left: 0; -webkit-transform: translate(0%, -50%); transform: translate(0%, -50%); padding: 40px;}
.no-network-content.update-div img{width: 55px; margin-bottom: 10px;}
.btn-rw{margin: 0 -5px;}
.later-btn-rw.btn-rw .btn-col{width: 50%;}
.btn-rw .btn-col{width: 100%; float: left; padding: 0 5px;}
.green-btn.grey-btn{background-color: #969696;}
