<div class="top-title-sec other-screen-logo-sec full">
  <div class="container">
    <div class="top-title-inner full">
      <h3 class="add-flex"><span class="title-arrow" (click)="this.location.back();">
          <fa class="chevron" name="chevron-left"></fa>
        </span> {{sipOrder.sip_details.scheme_name}} </h3>
    </div>
  </div>
</div>

<div class="sip-edit-can-main-sec full order-history-background">
  <div class="sip-edit-can-main-sec-inner">
    <div class="sip-details-sec">
      <div class="sip-details-sec-inner">
        <span>{{sipOrder.sip_details.day_of_month}}</span>
        <p>Of Every Month</p>
      </div>
      <div class="sip-details-sec-inner">
        <span><i class="fa fa-inr"></i> {{sipOrder.sip_details.amount}} </span>
        <p>SIP Amount</p>
      </div>
      <div class="sip-details-sec-inner">
        <span class="sip-status-txt"  [ngClass]="{'text-red': sipOrder.sip_details.sip_active != 1}">{{sipOrder.sip_details.sip_active != 1 ? 'Cancelled' : 'Active'}}</span>
        <p>Status</p>
      </div>
    </div>
    <div class="sip-edit-sec" *ngIf="sipOrder.sip_details.sip_active != 2">
      <!-- <button type="button" class="btn edit-btn">Edit </button> -->
      <button type="button" class="btn cancel-btn" (click)="openSipHistory(sipHistory);">Cancel</button>
    </div>
  </div>

  <div class="fund-transc-sec full">
    <p class="text-center fund-transc-txt">Fund Transactions</p>

    <div class="col-xs-12 fund-transc-rw">
      <div class="col-xs-8 bold-txt">Type</div>
      <div class="col-xs-4 bold-txt">Units</div>
    </div>

    <div class="col-xs-12 fund-transc-rw" *ngFor="let sipDetails of sipOrder.sip_transactions">
      <div class="col-xs-8">
        <p class="units-txt">{{sipDetails.order_type}}</p>
        <span class="purchase-date-txt">{{sipDetails.folio_updated_at | date :'dd MMM yyyy'}}</span>
      </div>
      <div class="col-xs-4">
        <p class="units-txt" *ngIf="sipDetails.units_allotted != null">{{sipDetails.units_allotted.toFixed(2)}}</p>
        <span class="purchase-date-txt">{{sipDetails.order_status}} </span>
      </div>
    </div>

  </div>
</div>


<ng-template #sipHistory let-d="dismiss" let-c="close">
  <div class="remove-bank">
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="d('Dismiss click'); cancelDefault()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="text-center remove-bank-text">Are you sure you want to cancel the selected SIP ?</p>
    </div>
    <div class="modal-footer">
      <div class="col-xs-6 text-center"> <button type="button" class="btn no-btn"
          (click)="d('Dismiss click');">No</button>
      </div>
      <div class="col-xs-6 text-center"> <button type="button" class="btn yes-btn"
          (click)="c('Close click'); CancelSip()">Yes</button>
      </div>
    </div>
  </div>
</ng-template>

<!--loader html-->
<div class="lds-css ng-scope" *ngIf="loading">
    <div style="width:100%;height:100%" class="lds-dual-ring">
      <div></div>
    </div>
  </div>
  
