<div class="full">
  <div class="tab-slider--nav order-history-tab">
    <ul class="tab-slider--tabs col-xs-12">
      <li class="tab-slider--trigger col-xs-6" [class.active]="viewMode == 'tab1'" rel="tab1"
        (click)="viewMode ='tab1'"> Order History </li>
      <li class="tab-slider--trigger col-xs-6" [class.active]="viewMode == 'tab2'" rel="tab2"
        (click)="viewMode ='tab2'"> SIP </li>
    </ul>
  </div>
</div>

<div class="order-history-background full">
  <div class="tab-slider--container full" [ngSwitch]="viewMode">

    <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
      <!----Show div if no investment -->
      <div class="text-center no-invest-div no-invest-sec full" *ngIf="noInvest">
        <img src="../assets/images/no-investment-found.svg" alt="no-invest">
        <p>You currently don't have any investments</p>
        <button type="button" class="btn green-btn" [routerLink]="['/home']">Invest Now</button>
      </div>
      <!---- end -->
      <div class="container">
        <!---- Order History Tab -->
        <div class="order-history-main-sec">
          <div *ngIf="otherError" class="alert alert-danger">
            {{errorMessage}}
          </div>
          <div *ngIf="orderHistory.length >= 1">
            <div class="order-history-rw" *ngFor="let order of orderHistory" (click)="viewOrderDetails(order)">
              <div class="col-xs-12 order-id-status">
                <div class="col-xs-9 order-no"> Order ID : {{order.order_id}} </div>
                <div class="col-xs-3"
                  [ngClass]="{'status-text-prog': order.order_status === 'PENDING', 'status-text-purchase': order.order_status === 'SUCCESS', 'status-text-failed': order.order_status === 'REJECTED' || order.order_status === 'CANCELLED'}">
                  {{order.order_status}} </div>
              </div>
              <div class="col-xs-12 order-history-bank-amt">
                <div class="col-xs-9">
                  <div class="otm-bank-img">
                    <img src="../assets/images/icici-logo.png" alt="icici-logo">
                  </div>
                  <div class="otm-bank-and-acc">
                    <span class="otm-bank-name"> {{order.scheme_name}} </span>
                    <div class="otm-bank-acc-no-rw">
                      <span class="otm-bank-acc-no"> {{order.sip_flag === 'N' ? 'LUMPSUM' : 'SIP' }}</span>
                      <span class="otm-bank-acc-no otm-bank-acc-type" [ngClass]="{'status-text-failed': order.order_type === 'redeem'}"> ({{order.order_type}})</span>
                  </div>
                  </div>
                </div>
                <div class="col-xs-3"><i class="fa fa-inr" *ngIf="order.order_type != 'cancel'"></i><span class="order-history-amt"> {{order.amount}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
        <!----Show div if no investment -->
        <div class="text-center no-invest-div no-invest-sec full" *ngIf="noInvestSip">
          <img src="../assets/images/no-investment-found.svg" alt="no-invest">
          <p>You currently don't have any investments</p>
          <button type="button" class="btn green-btn" [routerLink]="['/home']">Invest Now</button>
        </div>
        <!---- end -->
        <!---- SIP History Tab -->
        <div class="container">
          <div class="order-history-main-sec">
            <div *ngIf="sipHistory.length >= 1">
              <div class="order-history-rw" *ngFor="let sipOrder of sipHistory" (click)="viewSipDetails(sipOrder)">
                <div class="col-xs-12 order-id-status">
                  <div class="col-xs-4 order-no">SIP ID:{{sipOrder.sip_registration_no}}</div>
                  <div class="col-xs-8 next-install-txt"  *ngIf="sipOrder.sip_active != 2">Next Installment on
                    {{sipOrder.next_installment | date :'dd-MM-yyyy'}}</div>
                </div>
                <div class="col-xs-12 order-history-bank-amt">
                  <div class="col-xs-9">
                    <div class="otm-bank-img">
                      <img src="../assets/images/icici-logo.png" alt="icici-logo">
                    </div>
                    <div class="otm-bank-and-acc">
                      <span class="otm-bank-name">{{sipOrder.scheme_name}}</span>
                      <span class="sip-amt-history"><i class="fa fa-inr"><span class="order-history-amt">
                            {{sipOrder.amount}}</span></i></span>
                    </div>
                  </div>
                  <div class="col-xs-3"><span class="otm-bank-acc-no"  [ngClass]="{'order-text-red': sipOrder.sip_active != 1}"> {{sipOrder.sip_active != 1 ? 'CANCELLED' : 'Active' }}</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>

<app-footer></app-footer>

<!-- loader html -->
<div class="lds-css ng-scope" *ngIf="loading">
  <div style="width:100%;height:100%" class="lds-dual-ring">
    <div></div>
  </div>
</div>
