/*****
Fonts CSS
******/
@font-face {
    font-family: 'Rubik-Medium';
    src: url('assets/fonts/Rubik-Medium.eot');
    src: url('assets/fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Rubik-Medium.woff') format('woff'),
        url('assets/fonts/Rubik-Medium.ttf') format('truetype'),
        url('assets/fonts/Rubik-Medium.svg#Rubik-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url('assets/fonts/Rubik-Regular.woff') format('woff'),
        url('assets/fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.eot');
    src: url('assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Roboto-Regular.woff2') format('woff2'),
        url('assets/fonts/Roboto-Regular.woff') format('woff'),
        url('assets/fonts/Roboto-Regular.ttf') format('truetype'),
        url('assets/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face { font-family: 'password'; font-style: normal; font-weight: 400; src: url('assets/fonts/passwordtxt/password.ttf'); }
input.form-control.passtxt:focus, input.form-control.passtxt{font-family: 'password';}
input.form-control.passtxt::-webkit-input-placeholder {font-family: 'Rubik-Regular';}
input.form-control.passtxt::-moz-placeholder {font-family: 'Rubik-Regular';}
input.form-control.passtxt:-ms-input-placeholder {font-family: 'Rubik-Regular';}
input.form-control.passtxt:-moz-placeholder {font-family: 'Rubik-Regular';}

mbsc-input.form-control:focus, mbsc-input.form-control{color: #91939a;}
mbsc-input.form-control::-webkit-input-placeholder {color: #91939a;}
mbsc-input.form-control::-moz-placeholder {color: #91939a;}
mbsc-input.form-control:-ms-input-placeholder {color: #91939a;}
mbsc-input.form-control:-moz-placeholder {color: #91939a;}

input.form-control[disabled], input.form-control[readonly], fieldset[disabled] input.form-control{background: none;}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

body{font-family: 'Rubik-Regular' !important; overflow-y: scroll; outline: none !important;}
select.form-control{font-size: 16px;}
.full{width: 100%; float: left;}
.page-inner-sec{padding: 75px 15px 140px !important;}
.login-inner.page-inner-sec{padding: 95px 15px 140px !important;}
.page-title p{color: #636b78;}
.img-center{text-align: center; margin: 0 auto;width: 175px;}
mbsc-input.form-control, mbsc-input.form-control:focus, input.form-control, input.form-control:focus{border: none; border-bottom: 1px solid #01b18d; border-radius: 0; box-shadow: none; font-size: 16px; font-family: 'Rubik-Regular'; background: #fff !important;}
.has-error .form-control:focus{box-shadow: none !important;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none; margin: 0;}
input[type=number] {-moz-appearance:textfield;}
.has-error .form-control{box-shadow: none;}
.top-title-inner{text-align: center; margin: 0 auto; padding: 10px 0;}
.other-screen-logo-sec .top-title-inner{text-align: left;}
.other-screen-logo-sec .top-title-inner h3{margin: 5px 0;}
.page-title div:first-child{display: none;}
.label-light{color: #a6a7ad;font-size: 12px;font-weight: normal;}
.text-dark{color: #000 !important;}
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label{color:#ff0000;}
.has-error .form-control{border-color: #ff0000 !important;}
.fa-angle-right,.fa-angle-down{font-size: 24px;vertical-align: bottom;color: #00b08d;}
.active-link{color: #00b08d;}
.login-logo img{width: 125px;}
.page-bottom-padd{padding-bottom: 100px;}

/*****
Onboarding css
*****/
.slider-sec .owl-carousel .owl-item{padding-top: 52px;}
.slider-sec .owl-carousel .owl-item img{width: 175px; margin: 0 auto;}
.slider-sec h3{font-size: 20px; padding-top: 80px;}
.owl-theme .owl-nav .owl-prev, .owl-theme .owl-nav .owl-next{display: none;}
.owl-theme .owl-dots .owl-dot.active{color: #00b08d;}
.slider-sec .owl-theme .owl-dots .owl-dot.active span{background: #00b08d; width:25px;}
.signup-in-sec{text-align: center;}
.btn.google-btn-sec{padding: 15px 25px; line-height: normal; background: #fff; border: 2px solid #e0e0e0; font-size: 16px; font-family: 'Rubik-Medium'; width:100%; display:none;}
.signup-in-sec{padding-top: 25px;}
.google-btn-sec img{padding-right: 10px;}
.login-list{list-style: none; text-align: center; padding: 20px 0 0; margin: 0; width: 100%; float: left;}
.login-list li{display: inline-block; padding-right: 20px; width:50%;}
.login-list li a{width:100%; color: #00b08d;  font-weight: bold;}
.login-list li:last-child{padding-right: 0;}
.login-btn.btn, .login-list li a.login-btn.btn:hover{background: #fff; border: 1px solid #00b08d; padding: 15px; text-align: center; font-size: 16px; font-family: 'Roboto'; color: #00b08d;}
.login-list li a.signup-btn, .login-list li a.signup-btn:hover{background: #00b08d; color: #fff;}
.btn.green-btn, .btn.green-btn:hover{width: 100%; float: left; font-size: 16px; background: #00b08d; color: #fff; font-family: 'Rubik-Medium'; padding: 15px; cursor: pointer; border-radius: 4px;}
.btn.white-btn, .btn.white-btn:hover{width: 100%; float: left; font-size: 16px; background: #fff; color: #00b08d; font-family: 'Rubik-Medium'; padding: 15px; cursor: pointer; border-radius: 4px;}
.bottom-fix-btn .btn.green-btn{border-radius: 0;}
.congo-sec-para{padding-top: 68px;}
.congo-sec-para h4{margin-bottom: 15px;}
.congo-sec{padding-top: 120px;}
.congo-sec img{width: 175px;}
.congo-sec-para p{margin: 2px 0 0;}
.start-in-sec{position: fixed; bottom: 0; left: 0; padding: 5px 25px 25px; background: #fff; margin-bottom: 0; z-index: 2;}
@media only screen and (orientation: landscape) {
.start-in-sec{position: relative;  padding-top: 92px;}
.form-btn-sec.start-in-sec{position: fixed;  padding-top: 25px;}
}
.profile-btn{margin-top: 15px;}
.top-title-sec .login-logo{padding-top: 0;}
.setpass-sec{text-align: center;}



/*****
Verification css
*****/
.top-title-sec{box-shadow: 0px 15px 10px -7px #e5e4ea; padding: 0 15px;position: fixed;background-color: #fff;z-index: 100;}
.top-title-inner h3{font-size: 16px; font-family: 'Rubik-Medium'; margin: 15px 0;}
.title-arrow .chevron{font-size: 20px; font-family: inherit; display: inline-block; vertical-align: middle; padding-right: 8px; cursor: pointer;}
.page-title h4{font-weight: normal; font-size: 20px; color: #1c1e2d;}
.sign-img-sec{padding: 35px 0; text-align: center;}
.checkbox-rw{padding-bottom: 15px;}
.tc-text{color: #00b08d;}
.set-pass-popup{text-align: center;}
.set-pass-popup.modal-body{padding: 30px 15px;}
.set-pass-popup img{width: 45px; padding-bottom: 10px;}
/* The container */
.chekbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.chekbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.chekbox-container input:checked ~ .checkmark {
  background-color: #00b08d;
  border-color: #00b08d;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.chekbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.chekbox-container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-text{width: 100%; float: left; padding-left: 35px;}

/*****
Footer
*****/
footer {position: fixed;left: 0;bottom: 0;width: 100%;background-color: #ffffff;;text-align: center; z-index:1;}
.caption { display: block;padding: 5px 0 10px 0;font-size: 12px;}
.footer-rw{padding-top: 10px;border-top: 2px solid #f9f9fb;}
.footer-rw .item {display: inline-block;text-align: center;cursor: pointer;}
.footer-rw img{width:28px;}

/*****
Mobile Verification css
*****/
.mobile-verification-form{padding-top: 30px;}
.mobile-verification-form .form-control{color: #151b34;}
.default-code-sec{display: table-cell; width: 52px; border-bottom: 1px solid #01b18d; padding: 6px 12px; font-size: 16px;color: #151b34;}
.main-mobile-number{display: table-cell; vertical-align: bottom; width: auto; padding-left: 20px;}
.mobile-no-sec{display: table; width: 100%; float: left;}
.main-mobile-number-sec .help-block{position: absolute;}
.mobile-no{font-family: 'Rubik-Regular'; padding-right: 10px;}
.mobile-no-rw{font-size: 16px;}
.mobile-no-rw a,.congo-sec-para .text-success{color: #00b08d;}

/*****
OTP css
*****/
.otp-sec{text-align: center; margin: 0 auto; width: 100%; float: left; padding-top: 20px;}
.otp-sec a{color: #00b08d;}
.resend-otp-rw{padding-top: 35px;}
.resend-otp-rw .form-control{color: #151b34;}
.resend-otp-inner-rw{margin: 0 -20px; padding-bottom: 20px;}
.resend-otp-col .form-control, .resend-otp-col input.form-control:focus{border-width: 2px; width: 12%; float: left; margin: 0 2%; padding: 0;}
.otp-msg{padding: 5px 20px 0; margin-bottom: -20px;}
.resend-otp-col{width: 100%; float: left; padding: 0 20px; text-align: center;}
.resend-timer{color:#00b08d; visibility: hidden;}
.resend-visible{visibility: visible;}
.resend-timer countdown-timer{display: inline-block;}

/*****
Personal Details
******/
.main-form-sec-group .form-group{padding-bottom: 20px;}
.main-form-sec-group .form-group .form-control{border: none; border-bottom: 1px solid #9a9ba2; border-radius: 0;
box-shadow: none;}
.main-form-sec-group .form-group .form-control:focus{border: none; border-bottom: 1px solid #01b18d; border-radius: 0;
box-shadow: none;}
.main-form-sec-group .form-group label{font-family: 'Rubik-Regular'; font-weight: inherit; font-size: 16px; color: #91939a; padding-bottom: 15px;}
.main-form-sec-group .form-group label.label-light{font-size: 12px;padding-bottom: 0;}
.radio-sec .radio-inline{display: inline-block; position: relative; padding-left: 25px; margin-bottom: 12px; cursor: pointer; font-size: 22px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; padding-right: 20px;}
/* Hide the browser's default radio button */
.radio-sec .radio-inline input {position: absolute; opacity: 0; cursor: pointer;}
/* Create a custom radio button */
.radio-sec .radio-inline .checkmark {position: absolute; top: 1; left: 0; height: 20px; width: 20px; background-color: #fff; border: 1px solid #91939a; border-radius: 50%;}
/* On mouse-over, add a grey background color */
.radio-sec .radio-inline:hover input ~ .checkmark {background-color: #fff; border:2px solid #00b08d; }
.radio-sec .radio-inline:hover input ~ .checkmark{border: 1px solid #91939a;}
/* When the radio button is checked, add a blue background */
.radio-sec .radio-inline input:checked ~ .checkmark {background-color: #fff; border:2px solid #00b08d;}
/* Show the indicator (dot/circle) when checked */
.radio-sec .radio-inline input:checked ~ .checkmark:after {display: block;}
/* Style the indicator (dot/circle) */
.radio-sec .radio-inline .checkmark:after {top: 3px; left: 3px; width: 10px; height: 10px; border-radius: 50%; background: #00b08d;}
.nominee-checked{display: block; float: right;}
input[type="checkbox"][readonly] {pointer-events: none;}
.nominee-info-main-title-sec .checkmark{border-radius: 50%; background-color: #fff; border: 1px solid #91939a; right:0; left: auto;}
.nominee-info-main-title-sec input:checked ~ .checkmark{border: 1px solid #00b08d;}
.nominee-info-main-title-sec .checkmark::after{left: 6px;}
.nominee-info-main-title-sec{margin: 0 -30px 15px; padding: 15px 30px; border-top: 5px solid #eae8f3; border-bottom: 5px solid #eae8f3;}
.nominee-title{font-size: 16px; font-weight: bold;}
select {border: 0; -moz-appearance: none; -webkit-appearance: none; appearance:none;}
select::-ms-expand {display: none;}
.select-container {position: relative;}
select:-moz-focusring {color: transparent; text-shadow: 0 0 0 #000;}
.select-arrow {color: #91939a; right:-10px; top: 10px; width:30px; position:absolute; display:block; z-index: 1; margin: 0 0 0 0; pointer-events:none; font-size: 20px;}
.acc-details .select-arrow{color: #000;} 
.disable-title .nominee-title,.disable-title .nominee-title-acc,.disable-title.select-arrow,.text-light{color: #91939a;}
.disable-arrow.select-arrow{color: #d9dadc;}
.nominee-info-main-sec .form-control[disabled] .select-arrow {color: #d9dadc;}
.nominee-info-main-sec .form-control[disabled]{color: #d9dadc; border-bottom: 1px solid #d9dadc; background: none;}
.nominee-info-main-sec .form-control[disabled]::-webkit-input-placeholder {color: #d9dadc;}
.nominee-info-main-sec .form-control[disabled]::-moz-placeholder {color: #d9dadc;}
.nominee-info-main-sec .form-control[disabled]:-ms-input-placeholder {color: #d9dadc;}
.nominee-info-main-sec .form-control[disabled]:-moz-placeholder {color: #d9dadc;}
.bank-details-note p{color: #98999b;}
.first-bank-account{margin-bottom: 20px; position: relative; padding-bottom: 15px;}
.show-password-icon{position: absolute; right: 0; top: 7px;}
.kyc-veri-rw{display: table; padding: 22px 0; border-bottom: 1px solid #eae9e9;}
.kyc-veri-title-col, .kyc-veri-check-col{display: table-cell;}
.kyc-veri-title-col h4{margin: 0; font-weight: 500; font-size: 16px; color: #151b34;}
.kyc-veri-check-col .checkmark{border-radius: 50%; background-color: #00b08d; border: 1px solid #00b08d; right: 0; left: auto;}
.kyc-veri-check-col .checkmark:after{left:6px;}


/*****
IFSC Code
******/
.serach-btn-sec{text-align: center;}
.serach-btn{color: #00b08d; cursor: pointer;}
.serach-btn:hover{text-decoration: underline;}
.serach-hide{display: none;}
.serach-hide.show-searchbank{display: block; width: 100%; float: left; position: absolute; left: 0; top: 0; height: 100vh; background: #fff; z-index: 2; padding: 15px 30px;}
.main-form-sec-group .form-group.ifsc-no-sec{padding-top: 55px;}
.select-bank-option{font-size: 16px;}
.select-bank-option option{color: #000; padding: 20px 0;}
.search-bank-list-sec{position: relative;}
.search-bank-list-sec .dropdown{width: 100%;}
.search-bank-list-sec .dropdown-menu{height: 80vh !important; overflow: scroll !important; box-shadow: none; border: 0; width: 103%; padding-bottom: 30px; margin: 0 0 0 -5px; padding-bottom: 30px; overflow-x: hidden !important;}
.search-bank-list-sec.branch-name-list .dropdown-menu{height: 200px;}
.serach-ifsc-bank-sec .search-bank-list-sec .dropdown-menu li{font-size: 16px; padding: 15px; border: 0; border-bottom: 1px solid #e7e7e7; cursor: pointer; display: block; width: 100%; float: left; text-align: left; background: #fff;}
.has-error .help-block{display: block;}
.has-error .help-block span:first-child{display: block;}
.has-error .help-block span, .help-block{display: none;}
.confirm-ifsc-sec-title{font-family: 'Rubik-Medium'; font-size: 14px; color: #111526;}
.confirm-ifsc-sec{background: #f7f7f7; border-radius: 10px; padding: 20px 20px 10px; margin: 100px 0 0;}
.confirm-ifsc-sec label{width: 120px; vertical-align: top; font-family: 'Rubik-Regular';  font-weight: normal; color: #949494;}
.confirm-ifsc-sec .conf-info{color: #111526; font-family: 'Rubik-Medium';  display: table-cell;}
.confirm-ifsc-sec .conf-info.conf-bank-add {word-break: break-all;}
.conf-ifsc-rw{display: table; padding-bottom: 10px;}
/* .sign-pad-button-sec{position: fixed; top: inherit; bottom: 0; left: 0; -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.6); -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.6); box-shadow: 0px 0px 10px rgba(0,0,0,.6);} */
.sign-pad-button-sec{-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.6); -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.6); box-shadow: 0px 0px 10px rgba(0,0,0,.6);top: 0;
bottom: 0; left: 0; box-shadow: 0px 0px 10px rgba(0,0,0,.6);width: 100vh;
-webkit-transform-origin: 0 50%;-moz-transform-origin: 0 50%;-ms-transform-origin: 0 50%;-o-transform-origin: 0 50%;
transform-origin: 0 50%;
-webkit-transform: rotate(-270deg) translate(-100%, -20%);-moz-transform: rotate(-270deg) translate(-100%, -20%);
-ms-transform: rotate(-270deg) translate(-100%, -20%);-o-transform: rotate(-270deg) translate(-100%, -20%);
transform: rotate(-270deg) translate(-100%, -20%);
}

.sign-pad-button{width: 50%; float: left;}
.sign-pad-button .btn{width: 100%; border-radius: 0; padding: 15px 0; font-family: 'Rubik-Medium';}
.sign-btn-reset{background: #fff; color: #00b08d !important;}
.sign-btn-save{color: #fff; background: #00b08d;}
.sign-pad-sec-inner{padding: 15px 0;}
.sign-pad-sec{position: fixed; top: 0; left: 0;}
/* .sign-pad-inner{padding: 15px 15px 75px; width: 100%; height: 100vh;} */
signature-pad{border: 2px solid #e5e5e5; background: #f8f8f9; border-style: dashed; border-radius: 10px; float:left;margin-left: 15%;}
.photo-sec{border: 2px solid #e5e5e5; background: #f8f8f9; border-style: dashed; border-radius: 10px; padding: 50px 0; text-align: center; margin-top: 50px; width: 500px;}
.photo-sec img{width: 160px;}
.gal-cam-btn-rw{margin: 0 -10px;}
.gal-cam-btn-rw .gal-cam-btn-col{width: 50%; float: left; padding: 0 10px;}
.gal-cam-btn-col img{width: 20px;}
webcam, video, .webcam-wrapper{width: 100% !important;}
.snapshot{text-align: center;}
.snapshot img{width: 400px;}
.gallery-btn{position: relative;}
.gallery-btn input[type=file]{position: absolute; left: 0; top: 0; width: 100%; opacity: 0; height: 100%;}
.gal-img-logo, .btn-title{display: inline-block; vertical-align: middle;}
.gal-img-logo{margin-top: -5px; padding-right: 8px;}
.close_span{position: absolute; right: 30px; top: 11px;}
.close_span span{font-size: 35px;}
.serach-sec-popup{position: fixed; width: 100%; height: 100%; float: left; top: 0; left: 0; z-index: 10; background: #fff; display: none;}

/*****
Login
******/
.reset-pass .form-control{padding: 0;}
.login-logo{padding-top: 20px;}

/*****
Account Details
******/
.nominee-acc-details .nominee-info-main-title-sec{border: none;}
.nominee-title-acc{font-size: 14px;font-family: 'Rubik-Medium';}
.account-details .form-control,.change-pass .form-control{padding: 6px 0;color: #000;}
.main-form-sec-group .form-group.acc-detalis-gender{padding-bottom: 0;margin-bottom: 0;}
.main-form-sec-group.change-pass .form-group{padding-bottom: 0;}
.account-details-dob .mbsc-input input{color: #000;}

/*****
Mandate
******/
.tab-slider--nav {width: 100%;float: left;margin-bottom: 30px;margin-top: 15px;border-bottom: 2px solid #ebebeb;}
.tab-slider--tabs {display: block;float: left;margin: 0; margin-bottom: -1px;padding: 0;list-style: none;position: relative;border-radius: 0;overflow: hidden;background: transparent;height: 40px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.tab-slider--tabs:after {content: "";width: 50%;background: transparent;height: 100%;position: absolute;top: 0;left: 0;-webkit-transition: all 250ms ease-in-out;transition: all 250ms ease-in-out;border-radius: 35px;}
.tab-slider--tabs.slide:after {left: 50%;}
.tab-slider--trigger {font-size: 14px;line-height: 1;font-weight: bold;color: #91939a;text-align: center;padding: 12px 20px;position: relative;z-index: 2;cursor: pointer;display: inline-block;-webkit-transition: color 250ms ease-in-out;transition: color 250ms ease-in-out;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.tab-slider--trigger.active {color: #91939a;}
.tab-slider--trigger.active::after{content: "";display: block;margin: 0 auto;width: 66%;padding-top: 12px;border-bottom: 2px solid #07bca0;}
/* .tab-slider--body {margin-bottom: 20px;} */

.mandate-rw{padding: 18px 30px;border: 1px solid #e4e4e4;border-radius: 4px;}
.mandate-rw .mandate-bank{color: #000;}
.mandate-head{margin-bottom: 25px;cursor: pointer;}
.mandate-details{padding: 16px 30px;border: 1px solid #e4e4e4;margin-bottom: 20px;margin-top: -20px;}
.mandate-details p{margin: 0 0 4px;}
.mandate-details-primary  .mandate-text,.mandate-details-primary  .mandate-limit,.mandate-details-primary .mandate-status, .mandate-details-primary .mandate-sts-msg {font-family: 'Rubik-Medium';}
.mandate-details-primary .mandate-limit,.mandate-details-primary .mandate-status,.mandate-details-primary .mandate-id,.mandate-details-secondary .mandate-limit,.mandate-details-secondary .mandate-status,.mandate-details-secondary .mandate-id {color: #737373;}
.mandate-sts-msg {color: #737373;}
.mandate-details-secondary .mandate-text,.mandate-details-primary .mandate-text{font-family: 'Rubik-Medium';color: #585858;}
.add-mandate-btn .btn.green-btn{font-size: 14px;}
.add-mandate-btn img{padding-right: 6px;padding-bottom: 2px;}
.mandate-sec{padding-top: 50px;}
.mandate-default-text{padding: 4px 12px;background: #e9f9f6;margin-top: -2px;margin-right: 6px;font-size: 12px;border-radius: 4px;color: #07bca0;font-weight: 700;}
.mandate-section .nominee-checked{display:-webkit-inline-box;}

.bank-account-rw{border: 1px solid #e7e7e7;border-radius:4px;margin-bottom: 25px;}
.bank-account-rw .bank-name{padding: 25px 25px 6px 25px;}
.bank-account-rw .bank-name-rw{padding: 10px 25px 10px 25px;}
.bank-name-rw.view-bank-detail,.mandate-rw .mandate-chevron{color: #00b08d;cursor: pointer;}
.bank-name-rw .view-bank-detail-span{padding-right: 12px;}
.bank-account-rw .chekbox-container{padding-left: 25px;}
.bank-acc-check .checkmark{background: #fff;border: 1px solid #cfcfd7;border-radius: 50%;}

/*****
Mandate
******/

@keyframes lds-dual-ring {
0% {-webkit-transform: rotate(0);transform: rotate(0);}
100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@-webkit-keyframes lds-dual-ring {
0% {-webkit-transform: rotate(0);transform: rotate(0);}
100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

.lds-css{width: 100%; height: 100%; margin: 0 auto; text-align: center; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.5); z-index: 200; cursor: pointer;}
.lds-dual-ring {position: relative; top: 40%;}
.lds-dual-ring div {position: absolute; width: 40px; height: 40px; top: 20px; left: 45%; border-radius: 50%; border: 3px solid #000; border-color: #01b792 transparent #01b792 transparent; -webkit-animation: lds-dual-ring 1s linear infinite; animation: lds-dual-ring 1s linear infinite;}
.lds-dual-ring {margin: 0 auto; -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px); transform: translate(-100px, -100px) scale(1) translate(100px, 100px);}

.error-block{display: block; position: absolute; padding: 10px; border: 1px solid #00b08d; border-radius: 5px; background: #FFf; color: #000;}
.main-form-sec-group .form-group label.text-danger, .error-block .fa.fa-times-circle{color: #a94442;}
.main-form-sec-group .form-group label.text-success, .error-block .fa.fa-check-circle{color: #00b08d;}
.speech-bubble {background: #fff; border-radius: .4em; top: 42px;}
.speech-bubble:before {content: ''; position: absolute; border-style: solid; border-width: 0 14px 10px; border-color: #fff transparent; display: block; width: 0; z-index: 0; top: -11px; left: 190px;}
.speech-bubble:after {content: ''; position: absolute; border-style: solid; border-width: 0 14px 10px; border-color: #00b08d transparent; display: block; width: 0; z-index: 1; top: -10px; left: 190px;}
.alert-danger{width:100%; float: left; border-radius: 0; border-top: 0;margin-bottom: 0;font-size: 15px; font-weight: 600; color:red; border:none; background: none;}
#pan-number{text-transform: uppercase;}
#pan-number::placeholder, #pan-number::-moz-placeholder, #pan-number::-webkit-input-placeholder{text-transform: capitalize;}
.pan-no-sec .confirm-ifsc-sec{margin-top: 20px;padding: 0 5px;}
.confirm-ifsc-sec .pan-label-txt,.confirm-ifsc-sec .pan-name-txt{font-size: 16px;}
.confirm-ifsc-sec .pan-name-txt{font-family: 'Rubik-Medium';color: #111526;}
.confirm-ifsc-sec .pan-label-txt{color: #1c1e2d;}

.visbility-hidden{visibility: hidden; height: 0; padding: 0; margin: 0; width:0;}

/*****
Settings
*****/
.settings-title{color: #585858;}
.default-rw {width: 100%;float: left;padding-top: 32px;border-bottom: 1px solid #e3e3e5;padding-bottom: 16px;display: table;}
.change-password .glyphicon-chevron-right{color: #1fba9b;margin-right: 18px;cursor: pointer;}
.toggle .mbsc-mobiscroll.mbsc-form{background: #fff;margin: 0;}
.toggle .mbsc-form-group{margin: 0;}
.toggle .mbsc-mobiscroll .mbsc-switch{padding: .5em;}
.toggle .mbsc-mobiscroll .mbsc-switch input:checked+.mbsc-switch-track{background: #7de0cc;}
.toggle .mbsc-mobiscroll .mbsc-switch input:checked+.mbsc-switch-track .mbsc-switch-handle{background:#09c49f;}
.settings-page .mbsc-material.mbsc-form{background: none;}
.setting-change-pass{padding-right: 18px;}

/*****
Help & Support
*****/
.help-account-rw{border: 1px solid #e4e4e4;border-radius:4px;margin-bottom: 25px;}
.help-rw{padding: 12px 0px 12px 20px;color: #969696;font-family: "Rubik-Medium";cursor: pointer;}
.popup-title,.help-feedback{font-family: "Rubik-Medium";font-size: 14px;color: #000;}
.popup-title{margin-top: 30px;}
.popup-quesn{font-family: "Rubik-Regular";font-size: 14px;color: #000;padding-top: 30px;}
.popup-answer{font-family: "Rubik-Regular";font-size: 12px;color: #9e9e9e;}
.help-feedback{padding-top: 20px;}
.feedback-icon{padding: 10px;}
.remove-bank-btn .mbsc-fr-popup .mbsc-fr-btn-w {position: absolute;top: 10px;right: 0px;}
.remove-bank-btn  .mbsc-fr-popup{top:0 !important;max-width: 100% !important;left:0 !important;position: inherit !important;}
.remove-bank-btn .mbsc-fr-popup .mbsc-fr-w{height: 100vh;width: 100% !important;border-radius:0 !important;}
.remove-bank-btn .mbsc-fr-popup .mbsc-fr-w .mbsc-fr-btn-cont .mbsc-mobiscroll .mbsc-fr-btn.mbsc-active, .mbsc-mobiscroll.mbsc-no-touch .mbsc-fr-btn-e:not(.mbsc-disabled):hover {
background:none !important;}
.remove-bank-btn .mbsc-material .mbsc-fr-popup .mbsc-fr-w{background: #fff;}

/*****
Profile
*****/
.profile-header,.profile-header-secondary{padding: 30px 30px;border-bottom: 5px solid #eae8f3;}
.profile-header .name-field{color: #00b08d;font-family: "Rubik-Medium";font-size:16px;}
.profile-header .email-field{color: #a4a3a3;margin: 0 0 5px;}
.profile-header .mobile-field{color: #5f5c5c;font-family: "Rubik-Medium";margin: 0;}
.profile-rw{padding: 18px 16px;border-bottom: 1px solid #f1f1f1; cursor: pointer;}
.profile-rw .profile-section{color: #151b34;font-size: 16px;vertical-align: middle;padding-left: 18px;}
.profile-header-secondary p{color: #cccdd0;font-family: "Rubik-Medium";font-size:24px;margin: 0;}
.profile-header-secondary .profile-btn{margin-top: 20px;}
.profile-rw img{width: 24px;}
/*****
Share & Earn
*****/
.share-and-earn-sec img{width: 155px;}
.share-sec-para{padding-top: 55px;}
.share-sec-title{font-family: "Rubik-Medium";font-size:18px;padding-bottom: 12px;color: #151b34;word-spacing: 2px;}
.share-sec-desc{color: #151b34;line-height: 28px;padding: 0 20px;}
.bottom-fix-btn{position: fixed;bottom: 0;left: 0;background: #fff;margin-bottom: 0;z-index: 2;}

/*****
Bank mandate addition/deletion
*****/
.bank-mandate-details-sec .col-xs-12,.bank-mandate-details-sec .col-xs-6{padding: 0;word-break: break-word;}
.bank-view-title{padding-bottom: 20px;}
.bank-view-detail-sec{padding: 10px 0 !important;}
.bank-view-text{font-family: "Rubik-Medium";color: #7f7f7f;}
.modal-dialog-centered{position: relative;top: 50%;transform: translateY(-50%) !important;}
.remove-bank .modal-header{border-bottom:none;}
.remove-bank .modal-header .close{font-size: 36px;color: #b8bac2;opacity: 1;font-weight: 500; outline: none;}
.remove-bank .modal-footer {border-top:none;}
.remove-bank .modal-footer .btn{background: none;font-family: "Rubik-Medium";font-size:16px;}
.remove-bank-text{color: #151b34;font-size: 16px;}
.remove-bank .modal-footer .no-btn{color: #a6a7ad; outline: none;}
.remove-bank .modal-footer .yes-btn{color: #00b08d;}
.remove-bank-img{padding-bottom: 32px;}
.remove-bank-img img{width: 75px;}
.custom-class{margin: 25px;}
.change-modal-backdrop{opacity: 0.8 !important;}
.mandate-status span{cursor: pointer;}

/*****
Home Page
*****/
.home{background: #ebeaf2; padding-bottom: 85px; width: 100%; float: left;}
#collapseExample{padding: 0 15px;}
.tso-img-logo-sec{text-align: center; padding: 15px 0;}
.home-page-title-sec{padding: 35px 0 0;}
.home-pg-title{font-size: 14px; font-family: 'Rubik-Medium'; color: #000000; font-weight: normal; padding: 0; margin: 0;}
.home-page-title-sec{font-size: 12px; color: #abb1c2;}
.home-page-title-sec p{margin: 7px 0;}
.risk-rw{margin: 0 -5px;}
.risk-rw .col-xs-4{padding: 0 5px;}
.risk-inner-sec{position: relative; text-align: center; padding: 42px 0 20px 0; background: #fff; border-radius: 5px; box-shadow: -1px 7px 15px 5px #d2d2d2;}
.risk-inner-sec h6{font-size: 13px; font-family: 'Rubik-Medium';}
.home-pg-rw.partner-rw{background: #fff; margin-top: 15px; text-align: center; padding: 20px 0; border-radius: 5px;  box-shadow: -1px 7px 15px 5px #d2d2d2;}
.partner-inner-rw{padding-top: 20px;}
.home-pg-title-sec .home-pg-title{width: auto; display: table-cell; vertical-align: middle;}
.show-more-sec{color: #00b08d; display: table-cell; text-align: right; vertical-align: middle;}
.show-more-sec span{vertical-align: middle; display: inline-block; padding-right: 5px; padding-top: 2px;}
.show-more-sec .fa-angle-right{vertical-align: middle;}
.return-rw{display: table;width: 100%; float: left; border-radius: 5px;  box-shadow: -1px 7px 15px 5px #d2d2d2; margin-top:15px; padding: 12px 15px; background: #fff;}
.home-pg-title-sec {margin-top: 15px; display: table;}
.partner-inner-rw .col-xs-4 img{width: 100%;}
.returns-col, .funds-info-col{display: table-cell; vertical-align: middle;}
.returns-col{width:80px; text-align: center;}
.returns-col span.return-per{font-size: 22px; color: #00b08d; font-family: 'Rubik-Medium';display: block;}
.returns-col span{color: #abb1c2; font-size: 10px;}
.funds-info-col{padding-left: 20px;}
.funds-info-col p{font-size: 12px; color: #000;}
.mbsc-collapsible.mbsc-form-group{display: table; width: 100%; float: left; border-radius: 5px; box-shadow: -1px 1px 14px 1px #d2d2d2; margin-top: 15px !important; padding: 15px 15px !important;  background: #fff;}
.mbsc-form-group-content p, .mbsc-collapsible-header{font-size: 12px; color: #000;}
.mbsc-ic-arrow-down5::before{font-size: 12px; color: #b1afaf; font-weight: 600 !important;}
.mbsc-form-group-content .mbsc-padding{padding: 1em 0;}
.how-tso-title{font-size: 16px;}
.hwt-title{float: left;}
.how-wrk-sec.home-pg-rw.partner-rw{padding: 0;}
.how-wrk-sec.home-pg-rw.partner-rw .hwt-title-rw{padding: 12px 20px; float: left; width: 100%;}
.hwt-title-inner{font-size: 18px; color: #151b34; padding-left: 15px; width: 170px; text-align: left;}
.hwt-title-inner, .hwt-title-img{display: inline-block; vertical-align: middle;}
.hwt-title-chevron{margin-top: 8px;}
.hwt-title-chevron .fa{font-size: 30px;}
.hwt-sec-inner-rw{display: table; padding-bottom: 67px; z-index: 1; position: relative;}
.hwt-sec-inner-rw.hwt-sec-inner-rw-last{padding-bottom:0;}
.hwt-sec-inner-img{width: 50px; text-align: left;}
.hwt-sec-inner-text{text-align: left; font-size: 16px; color: #000; padding-left: 20px; vertical-align: middle;}
.hwt-sec-inner-text, .hwt-sec-inner-img{display: table-cell;}
.hwt-sec-inner{position: relative; margin: 25px 0;}
.hr{position: absolute; border: 1px dashed #eaeaf2; left: 25px; height: 100%;}
.nxt-img{position: absolute; bottom: 18%; transform: translate(70%); left:-5px;}
.fund-title{text-align: center; font-size: 12px; color:#000; margin-top:8px;}
.top-fund-inner .col-xs-3{text-align: center; padding: 10px;}
.top-fund-inner img{display: block; margin: 0 auto; width: 48px;}
.top-fund-col{display: inline-block; font-size: 12px; color:#000; text-transform: uppercase; padding: 10px 20px; border-radius: 2px;}
.top-fund-col.active{background: #40c4aa; color: #fff;}
.home-item{display: table; background: #fff; border-radius: 5px; padding: 20px 15px 20px 20px; margin: 0 10px; width: 96%;}
.home-slide-text, .home-slide-img-sec{display: table-cell; vertical-align: middle;}
.home-slide-img-sec{width: 145px;}
.home-slide-img-sec img{height: 116px;}
.risk-inner-sec img{width: 80px;}
.home-slide-text h4{line-height: 28px; color: #00b08d; font-size: 16px;}
.slider-title, .serach-sec{margin-bottom: 15px;}
.home-top-search.serach-sec input.form-control.home-page-serach{border-radius: 5px;}
input.form-control.home-page-serach, input.form-control.home-page-serach:focus{border: none;  border-radius: 0; box-shadow: -1px 1px 14px 1px #d2d2d2; font-size: 12px; font-family: 'Rubik-Regular'; background-color: #fff !important; height: 45px; border-radius: 0; padding-left: 50px; background-image: url('assets/images/serach.png') !important;  background-repeat: no-repeat  !important; background-position: 15px center !important;}
.search-bank-list-sec button.cancel-btn{position: absolute; right: 0; top: 0; display: inline-block; width: auto; padding: 13px 10px; background: #fff; box-shadow: none; border: none; text-transform: uppercase; font-size: 13px; color: #40c4aa;}
.search-main-sec{padding-top: 25px;}

.risk-inner-sec input,.top-fund-inner input,.home-item input{position: absolute;width: 100%;height: 100%;left: 0;top: 0;opacity: 0;}
.faq-ans{white-space: pre-line;line-height: 20px;}

/*****
Buying Flow : One-Time Mandate
*****/
.otm-head-sec{padding: 70px 15px 15px 15px;border-bottom: 1px solid #eae8f3;}
.otm-bank-img{display: table-cell;vertical-align: middle;width: 44px;}
.otm-bank-img img{vertical-align: bottom;}
.otm-bank-and-acc{display: table-cell;padding-left: 10px;}
.otm-bank-acc-no{display: block;font-size: 12px;color: #4c4f5d;}
.otm-bank-acc-no-rw .otm-bank-acc-no{display: inline-block;}
.otm-bank-acc-no-rw .otm-bank-acc-no.otm-bank-acc-type{background: none; color: #000;}
.otm-bank-name,.otm-text{font-size: 16px;vertical-align: text-bottom;color: #151b34;font-weight: 700;}
.foliono { font-size: 14px; font-weight: normal;}
.foliono span{font-weight: 700;}
.otm-main-sec{padding-top: 50px;padding-left: 15px; position: relative;}
.otm-text-info + .tooltip-mandate { position: absolute; z-index: 9; font-size: 13px; display: none; right: 0; padding: 8px; background: rgba(0,0,0,0.9); color: #fff; opacity: 0; transition: 0.2s; }
.otm-text-info:hover + .tooltip-mandate, .otm-text-info:active + .tooltip-mandate { opacity: 1; transition: 0.2s; display: block; }
.otm-text-info img{vertical-align: top;padding-left: 8px;}
.mandate-amt.form-control,.mandate-amt.form-control:focus{width: 80%;margin-top: 12px;font-size: 24px;padding: 0 0 10px 32px;color: #151b34;}
.otm-amt-sec{padding-top: 40px;}
.otm-amt-sec .col-xs-12{padding: 0;padding-bottom: 10px;}
.otm-amt-sec .btn.green-btn{font-family: 'Rubik-Regular';padding: 6px 14px;border-radius: 6px;width: auto;margin-right: 12px;background: #ffffff;
color: #72747e;border: 1px solid #e3e3e5;}
.otm-amt-sec .btn.green-btn:hover{background: #00b08d;color: #fff;border: 1px solid #00b08d;}
.otm-amt-sec .btn.green-btn:focus{outline: none;}
.mandate-amt::placeholder{color: #b8bac2;}
.otm-main-sec .rupee-sym{position: absolute;top:-1px;}
.otm-form{position: relative;}


/*****
Fund Details
*****/
.fund-label-list{margin: 0; padding: 0 15px; list-style: none; width: 100%; float: left;}
.fund-label-list li{display: inline-block; background: #f0f1f4; border-radius: 4px; padding: 5px 12px; margin-right: 10px; font-size: 13px; color: #a3a3a7;}
.fund-name-sec .otm-head-sec{border-bottom: none; display: table; width: 100%; float: left;}
.fund-name-sec .otm-head-sec .otm-bank-and-acc{display: table-cell; vertical-align: middle;}
.fund-label-list li:last-child{margin: 0;}
.fund-inner-sec, .fund-nav-title-sec{padding: 12px 15px; background: #fff; margin-top: 10px; display: table; width: 100%;}
.fund-inner-sec.fund-nav-title-sec{background: #f3faf9;}
.fund-load-col, .fund-details, .fund-nav-col, .fund-amount-col{width: 50%; display: table-cell; vertical-align: middle;}
.fund-nav-col span{color: #777677; font-size: 14px; display: block;}
.fund-nav-col span:last-child{font-size: 10px;}
.fund-amount-col{text-align: center; font-weight: 600; color: #000; font-size: 14px;}
.fund-nav-details-sec{padding: 12px 15px; background: #fff; display: table; width: 100%;}
.fund-label{font-size: 14px; color: #777677; font-weight: 600;}
.fund-count{font-size: 16px; padding-bottom: 5px;}
.fund-per-sec{border-left: 1px solid #eaeaea; padding-left: 30px;}
.fund-details-sec{background: #ebeaf2; height: 100%; padding-bottom: 70px;}
.fund-name-sec{background: #fff; padding: 0 0 15px 0; border-radius: 5px;}
.fund-sec-title{font-size: 16px; font-family: 'Rubik-Medium'; color: #000;}
.fund-load-per{font-size: 20px; color: #000; font-weight: 600; display: block;}
.fund-load-yr{color: #636b78; font-size: 12px; display: block;}
.fund-load-col{padding: 0 15px; border-left: 1px solid #eaeaea;}
.fund-load-col:first-child{padding-left:0; border: none;}
.fund-load-col:last-child{padding-right:0;}
.fund-sec-rw, .fund-sector-details-rw, .fund-man-profile{display: table; width: 100%; float: left; padding-bottom: 10px;}
.fund-img-manager{border-radius: 50%;}
.fund-man-profile-img, .fund-man-profile-info, .scheme-name-col, .scheme-percentage{display: table-cell; vertical-align: middle;}
.scheme-percentage{width: 70px; font-size: 14px; font-weight:600; color: #000; text-align: right;}
.fund-man-profile-img{width: 50px;}
.fund-man-profile-info{padding-left: 15px;}
.fund-man-exp, .fund-position{font-size: 12px;}
.fund-man-name{font-size: 16px; color: #000; font-weight: 600; display: block;}
.exit-load-rw label{font-size: 16px; color: #777677; font-weight: normal; width: 110px;}
.exit-load-rw span{text-align: right; width: auto; display: table-cell; color: #000; font-size: 16px;}
.exit-load-rw{width: 100%; display: table; padding: 5px 0;}
.fund-details .fund-sec-label{font-size: 12px; color: #777677; display:block;}
.fund-sec-data{font-size: 20px;font-family: 'Rubik-Medium'; color: #000;}
.fund-sec-date{font-size: 12px; color: #000;}
.fund-sector-date-col{text-align: right; vertical-align: top;}
.scheme-name{font-size: 15px; color: #777677; display: inline-block; vertical-align: middle; padding-left: 25px; padding-top: 2px;}
.scheme-name-col{position: relative;}
.scheme-name-colour{width: 15px; height: 15px; display: inline-block; vertical-align: middle; position: absolute; top: 5px;}
.blue-box{background: #4571bd;}
.fund-sec-rw{padding: 12px 0; border-bottom: 1px solid #f1f1f1;}
.fund-sec-rw:last-child{border-bottom: none;}
.fix-btn-col{width:50%; float: left;}
.btn-col .fix-btn-col{width:100%; float: left;}
.sec-fund-rw{background: #fff; margin-bottom: -10px; width: 100%; float: left;}
.sec-fund-rw .top-fund-col{width: 50%; float: left; font-size: 16px; text-align: center; padding: 15px 0; background: #fff; color: #000; border-bottom: 2px solid #f5f5fa; border-radius: 0; text-transform: capitalize;}
.sec-fund-rw .top-fund-col.active{border-color: #07bca0; font-family: 'Rubik-Medium';}
.tso-mf-logo-sec img{width: 150px;}
.canvas-rw canvas{height: auto !important; width: 100% !important;}
.tso-img-logo-sec img{width: 100px;}


.fund-absol-sec-inner p:nth-child(1){font-size: 30px;color: #16ad25;margin-bottom: 0;}
.fund-absol-sec-inner p:nth-child(2){font-size: 12px;color: #636b78;}
.fund-absol-returns-main-sec .fund-load-col{border-left: none;}
.fund-absol-returns-main-sec .fund-load-per,.fund-absol-returns-main-sec .fund-load-yr .fa-caret-down{font-size: 16px;color: #dc2626;}
.fund-absol-returns-main-sec .fund-inner-sec{padding: 10px 0;}
.fund-absol-sec-inner p:nth-child(1).text-red{color: #ad1624;}
.order-history-rw .otm-bank-acc-no.order-text-red{color: #ad1624; background: #ad162438;margin-left: -6px;}
.sip-details-sec-inner .sip-status-txt.text-red{color: #ad1624;}

/*****
Buying Flow : One-Time Mandate Upload
*****/
.otm-upload-sec{padding-top: 20px;}
.otm-upload-sec h4{font-size: 18px; font-family: 'Rubik-Medium';margin: 0;color: #151b34;}
.otm-upload-main-sec .hr{border: 1px dashed #d7d8da;height: 75%;}
.otm-upload-main-sec .checkmark{border-radius: 50%;background-color: #fff;border: 1px solid #d7d8da;}
.otm-upload-main-sec .hwt-sec-inner{margin: 25px 0 0 0;}
.otm-upload-main-sec .hwt-sec-inner-text{padding-left: 0px;color: #151b34;}
.otm-upload-main-sec .hwt-sec-inner-text p{padding-top: 10px;font-size: 12px;color: #c0c1c5;margin-bottom: 2px;}
.otm-upload-main-sec .hwt-sec-inner-rw{padding-bottom: 35px;}
.otm-upload-main-sec .btn.green-btn{width: auto;padding: 8px 30px;float: none;}
.otm-sent-txt{font-size: 14px;float: right;padding-right: 15px;}
.otm-green-text{color: #00b08d;font-size: 12px;cursor: pointer;}
.otm-text-bold{color: #151b34;font-family: 'Rubik-Medium';}
.otm-upload-main-sec .hwt-sec-inner-rw.hwt-sec-inner-rw-last{padding-bottom: 25px;}
.mandate-example .modal-header{padding: 15px 15px 0px 15px;border-bottom: none;}
.mandate-example .modal-body{padding: 5px 15px 15px 15px;}
.mandate-example .modal-footer{border-top: none;}
.mandate-example .modal-footer .yes-btn {color: #00b08d;}
.mandate-example .modal-footer .btn {background: none;font-family: "Rubik-Medium";font-size: 16px;}
.otm-upload-custom-class .modal-dialog,.select-otm-upload .modal-dialog,.submit-otm-upload .modal-dialog{margin: 0 auto;}
/* .check-details .modal-dialog { margin: 0 auto !important; } */
.otm-upload-custom-class .modal-content,.select-otm-upload .modal-content,.submit-otm-upload .modal-content{background-clip: border-box;border-radius: 0;}
.mandate-upload-eg-text{font-family: "Rubik-Medium";font-size: 18px;color: #151b34;}
.ml { margin-left: 30px; }
.pt-0 { padding-top: 0 !important; }
.mandate-upload-eg-para{font-size: 12px;padding-top: 20px;}
.mandate-imgeg-sec{margin-top: 25px;margin-bottom: 5px;}
.mandate-example .close{font-size: 42px;font-weight: normal;color: #b8bac2;opacity: 1;outline: none;}
.alt-dark-txt{color: #151b34;}

.upload-otm-mandate .modal-header{padding: 15px;border-bottom: 1px solid #f1f1f1;text-align: center;}
.upload-otm-mandate .modal-header .select-opt{font-family: "Rubik-Medium";font-size: 18px;}
.upload-otm-mandate .modal-header .close{font-size: 36px;margin-top: -4px;}
.upload-otm-mandate .modal-body{padding: 0;}
.upload-otm-mandate .otm-up-rw{border-bottom: 1px solid #f1f1f1;}
.upload-otm-mandate .otm-up-rw-content{padding-left: 14px;font-size: 16px;}
.otm-up-rw .btn.green-btn,.otm-up-rw .btn.green-btn:hover{font-family: 'Rubik-Regular';font-size: 16px;background: #fff;color: #151b34;float: none;text-align: left;outline: none;}
.otm-up-rw .gal-img-logo{padding-right: 14px;padding-left: 14px;}
.select-otm-upload.modal.fade .modal-dialog,.submit-otm-upload.modal.fade .modal-dialog{ width: 100%; position: absolute;bottom: 0px;right: 0px;left: 0;-webkit-transform: translate(0,0%);
 transform: translate(0,0%);}
.upload-snapshot{text-align: center;margin-bottom: 20px;}
.mt { margin-top: 5px; }
.top { margin-top: 60px; }
.submit-upload-sec{text-align: center;padding: 45px 50px;}
.submit-upload-sec p{margin: 18px 0;font-size: 12px;color: #151b34;}
.upload-dark-txt{color: #151b34;font-family: "Rubik-Medium";}
.submit-upload-sec .success-greeting,.resend-mandate-sec .success-greeting{font-family: "Rubik-Medium";font-size: 16px;color: #00b08d;}
.select-otm-upload .modal-content{width: 100%;float: left;}

/*****
Buying Flow : SIP Selection
*****/
.top-title-main-sec{box-shadow: 0px 15px 10px -7px #e5e4ea; padding: 0 15px; background-color: #fff;z-index: 100;}
.checkbox-row{width: 33.33%;display: inline-block;position: relative;padding-bottom: 20px;}
.checkbox-row input{position: absolute; opacity: 0;cursor: pointer;height: 0;width: 0;}
.checkbox-row input:checked ~ .checkmark {border: 1px solid #151b34;background-color: #151b34;height: 20px;width: 20px;}
.checkbox-row .checkmark{border-radius: 50%;background: #00b08d;height: 15px;width: 15px;}
.checkbox-row input:checked ~ .checkmark:after {display: block;left: 7px;top: 3px;width: 4px;height: 9px;border: solid white;border-width: 0 1px 1px 0;-webkit-transform: rotate(45deg);transform: rotate(45deg);} 
.sip-status-title{display: block;font-size: 10px;margin-top: 15px;color: #a6a7ad;}
.sip-amount-sec{padding: 30px 0px 0px 15px;}
/* .sip-amount-sec .rupee-sym{position: absolute;top: 158px;} */
.sip-amount-sec .form-group .rupee-sym{position: absolute;top: -1px;}
.sip-amount-sec .max-inv-amt{margin-top: 12px;color: #a6a7ad;font-size: 12px;}
.sip-amount-sec .otm-amt-sec{padding-top: 18px;}
.sip-amount-sec .mandate-amt.form-control{font-family: "Rubik-Medium";border-bottom: 1px solid #72747e;}
.progress-status{width: 75%;float: left;position: absolute;height: 2px;background: #d3d4d9;left: 62%;top: 25%;}
.progress-status-checked{width: 75%;float: left;position: absolute;height: 2px;background: #151b34;left: 63%;top: 25%;}
.progress-checked{background: #151b34;}
.lumsum-sec{margin: 0 auto; text-align: center;}
.sipAmtForm{position: relative;}

/*****
Buying Flow : SIP Date
*****/
.sip-date-para{text-align: center; padding: 116px 20px 0 20px;}
.sip-date-para p{font-size: 12px; color: #d3d3d3; margin: 0; padding-bottom: 20px;}
.sip-date-form-rw .form-control{padding: 0; margin: 0; display: table; border: none;  border-bottom: 1px solid #ccc; box-shadow: none; border-radius: 0;}
.sip-date-form-rw .form-control input{display: table-cell; border: none; width: 65px; font-family: 'Rubik-Medium'; color: #000; font-size: 24px; text-align: center;outline: none;  vertical-align: middle; }
.every-date-label{text-align: left; display: inline-block; color: #a6a7ad;}
.sip-date-sec{padding: 0 15px;}
.sip-date-select .sip-date-head{font-family: "Rubik-Medium";font-size: 16px;color: #151b34;margin: 0;}
.sip-calendar{ width: 14.28%;padding: 10px;display: inline-block;font-size: 16px;color: #151b34;text-align: center; cursor: pointer;}
.sip-calendar input{cursor: pointer;}
.selected input{background:#00b08d; color: #fff !important;}
.sip-date-select .modal-body{padding: 15px 15px 0 15px;}
.sip-date-select .modal-footer .btn {background: none;font-family: "Rubik-Medium";font-size: 16px;}
.sip-date-select .modal-footer{border-top: none;}
.sip-date-select .modal-footer .btn.cancel-btn{color:#a6a7ad; }
.sip-date-select .modal-footer .btn.ok-btn{color: #00b08d;}
.conf-sip-txt,.conf-sip-amt-txt{font-size: 16px;color: #151b34;margin-bottom: 0;line-height: 28px;}
.conf-sip-amt-txt{font-family: "Rubik-Medium";}
.sip-calendar input, .sip-calendar input:focus{border: none; text-align: center; color: #000; width: 100%; outline: none;
box-shadow: none; border-radius: 100%; width: 35px; height: 35px; padding: 6px; font-size: 14px;}
.sip-calendar-disabled.sip-calendar input:focus, .sip-calendar-disabled input{color:rgba(117, 116, 116, 0.877);}

/*****
Buying Flow : SIP Payment
*****/
.sip-payment-sec .otm-head-sec, .sip-payment-sec .sip-date-amt-sec, .sip-bank-account-sec{background: #ffffff;}
.sip-top-sec .sip-bank-name{display: block;font-size: 16px;color: #151b34;font-weight: 700;}
.sip-top-sec .fund-name-txt{font-size: 12px;color: #151b34;}
.sip-date-amt-sec{padding: 15px 0;}
.sip-date-amt-sec .col-xs-12{padding: 0;}
.sip-date-amt-sec.sip-lumsum-sec .col-xs-12,.sip-date-amt-sec.sip-lumsum-sec .col-xs-6:last-child{padding: 0 30px;}
.sip-date-amt-sec .sip-inner-txt{font-size: 12px;color: #6f7682;}
.sip-date-amt-sec .sip-bold-txt{font-family: "Rubik-Medium";font-size: 20px;color: #151b34;margin-bottom: 0px;}
.acc-txt{font-family: "Rubik-Medium";font-size: 16px;padding:25px 0 15px 15px;margin: 0;color: #151b34;}
.sip-bank-account-sec-inner{display: table;  padding: 15px;border-bottom: 1px solid #f1f1f1; width: 100%;}
.sip-bank-account-sec-inner:last-child{border-bottom: none;}
.sip-bank-account-sec .radio-sec{display: table-cell; width: 10px; padding-left: 10px;}
.sip-bank-account-sec .sip-bank-details{display: inline-block;vertical-align: middle;}
.sip-bank-account-sec .radio-sec .radio-inline{margin-bottom: 16px;margin-left: 0;}
.sip-bank-details .otm-bank-and-acc .otm-bank-acc-no{background: none;padding: 0;font-size: 12px;color: #151b34;font-weight: normal;}
.add-bank-sec{margin-top: 10px;padding: 15px;background: #fff;}
.add-bank-sec .add-bank-txt{font-family: "Rubik-Medium";font-size: 16px;color: #151b34;vertical-align: middle;}
.add-bank-sec .add-bank-icon{color: #b8c1c6;vertical-align: middle;padding-right: 10px;}
.add-bank-sec .fa-angle-right,.fund-prog-sec .fa-angle-right{color: #898d9a;}
.sip-bank-account-sec-inner.error-inner{background: transparent;}
.sip-pay-add-btn.start-in-sec{background: none;}

/*****
Buying Flow : SIP Success Confirmation
*****/
.sip-status-sec{padding-top: 25px;}
.sip-status-sec-inner .col-xs-12{padding: 15px 0;}
.sip-status-sec-inner .sip-installment-txt{font-size: 14px;color: #636b78;}
.sip-status-sec-inner .sip-comp-txt{color: #151b34;font-weight: 700;}
.sip-status-sec-inner .sip-autodeb-txt{color: #00b08d;font-weight: 700;}
.sip-success-end-sec{padding-top: 185px;}
.sip-success-end-sec p:nth-child(1){font-family: "Rubik-Medium";font-size: 16px;color: #151b34;}
.sip-success-end-sec p:nth-child(2){font-size: 12px;color: #bbbec3;padding: 0 40px;}

.payment-popup{z-index: 210;display: block;position: fixed;top: 40%;background: #fff;left: 18%;padding: 18px 35px;border-radius: 6px;}

/*****
Buying Flow : SIP Bank select
*****/
.sip-add-bank-sec{margin-top: 12px;padding: 25px 0;background: #fff;}
.sip-add-bank-sec p{font-size: 16px;color: #151b34;font-weight: 700;}
.sip-add-bank-sec .btn.green-btn{width: 66%;float: none;}
.title-arrow .fa-times{-webkit-text-stroke: 2px #fff;font-size: 26px;padding-right: 8px;vertical-align: sub;}

/*****
Order History
*****/
.order-history-background{background: #ebebf3; width: 100%;float: left; padding-bottom: 80px;height: 100vh;overflow: scroll;}
.order-history-tab .tab-slider--trigger.active{margin: 0 auto;padding-top: 8px;border-bottom: 2px solid #07bca0;font-family: "Rubik-Medium";}
.order-history-tab .tab-slider--trigger.active::after{content: none;}
.order-history-tab .tab-slider--trigger{color: #151b34; font-size: 16px; font-weight: normal; border-bottom: 2px solid #fff; padding: 12px; margin-top: -4px;}
.order-history-tab.tab-slider--nav {position:fixed;z-index: 5;border-bottom: none;background: #fff;margin-top: 0;padding-top: 15px;margin-bottom: 15px}
.order-history-tab .tab-slider--tabs{height: 38px;}
.order-history-rw{width: 100%;float: left;border-radius: 5px;margin-top: 8px;background: #fff;}
.order-history-rw .col-xs-12,.order-history-rw .col-xs-9,.order-history-rw .col-xs-3,.order-history-rw .col-xs-4,.order-history-rw .col-xs-8{padding: 0 4px;}
.order-history-rw .order-no{font-size: 12px;color: #151b34;font-weight: 700;}
.order-history-rw .order-id-status{padding-bottom: 10px;border-bottom: 1px solid #f5f5fa;padding: 10px;}
.order-history-rw .status-text-prog{color: #e9b05a;}
.order-history-rw .status-text-purchase{color: #16ad25;}
.order-history-rw .status-text-failed{color: #dc2626 !important;}
.order-history-rw .status-text-prog,.order-history-rw .status-text-purchase,.order-history-rw .status-text-failed{font-size: 12px;text-transform: uppercase;font-weight: 600;}
.order-history-main-sec{padding-top: 55px;}
.order-history-rw .otm-bank-name{font-size: 12px;font-family: "Rubik-Regular";}
.order-history-rw .order-history-bank-amt{padding: 15px 10px;}
.order-history-amt{font-family: "Rubik-Medium";font-size: 16px;}
.order-history-rw .otm-bank-acc-no{padding: 4px 16px;background: #cef3eb;margin-right: 6px;font-size: 9px;border-radius: 6px;color: #09c49f;font-weight: 700;text-align: center;text-transform: uppercase;width: fit-content;}
.otm-bank-and-acc .otm-bank-acc-no{padding: 4px 16px;background: #cef3eb;margin-right: 6px;font-size: 9px;border-radius: 6px;color: #09c49f;font-weight: 700;text-align: center;text-transform: uppercase;width: fit-content;}
.order-history-details-main-sec{padding-top: 75px;}
.folio-details-sec,.fund-prog-sec{width: 100%;float: left;border-radius: 5px;background: #fff;padding: 10px;}
.folio-details-sec .col-xs-12,.folio-details-sec .col-xs-4,.folio-details-sec .col-xs-8,.folio-details-sec .col-xs-6{padding: 0;}
.folio-details-first-sec .folio-num,.folio-details-second-sec .mandate-id{font-size: 12px;}
.folio-details-sec .folio-details-first-sec{padding-top: 10px;padding-bottom: 15px;}
.folio-details-sec .folio-details-second-sec{padding-bottom: 20px;}
.folio-details-sec .folio-details-third-sec{padding-top: 20px;padding-bottom: 5px;border-top: 1px solid #eeeef5;}
.folio-details-sec .folio-details-third-sec .invest-amt{border-right: 1px solid #eeeef5; }
.folio-details-first-sec .folio-no-txt{color: #e9b05a;font-family: "Rubik-Medium";}
.folio-details-first-sec .order-type{text-align: right;}
.folio-details-second-sec .mandate-validity{font-family: "Rubik-Medium"; text-transform: capitalize;}
.folio-details-third-sec .folio-values{font-size: 16px;}
.folio-details-third-sec .table-rw-txt{color: #c3c7d3;font-size: 12px;}
.table-rw{display: inline-block;}  
.table-rw-txt{display: block;}
.fund-prog-txt{font-family: "Rubik-Medium";font-size: 16px;padding-top: 28px;padding-bottom: 14px;}
.fund-prog-sec .hwt-sec-inner-rw{padding-bottom: 25px;}
.fund-prog-sec .hwt-sec-inner-rw:last-child{padding-bottom: 0;}
.fund-prog-sec .hwt-sec-inner{margin: 10px 0;}
.fund-prog-sec .hwt-sec-inner-text{padding-left: 0;}
.fund-prog-sec .checkmark {border-radius: 50%;background-color: #fff;border: 1px solid #d7d8da;}
.fund-prog-sec .order-placed-txt{font-family: "Rubik-Medium";font-size: 16px}
.fund-prog-sec .order-id,.fund-prog-sec .amc-txt,.fund-prog-sec .order-placed-time{font-size: 12px;font-family:'Rubik-Regular';}
.fund-prog-sec .order-id,.folio-details-first-sec .folio-no-avail{font-weight: 700;}
.fund-prog-sec .invest-prog{font-size: 16px;}
.invest-prog .confirm-txt{font-family: "Rubik-Medium";}
.fund-prog-sec .hwt-sec-inner-text .status-in-prog{font-size: 12px;color: #e9b05a;text-transform: uppercase;font-weight: 600;}
.fund-prog-sec .hwt-sec-inner-text .status-purchased{font-size: 12px;color: #16ad25;text-transform: uppercase;font-weight: 600;}
.fund-prog-sec .hwt-sec-inner-text .status-failed{font-size: 12px;color: #dc2626;text-transform: uppercase;font-weight: 600;}
.order-failure .order-fail-para{padding: 5px 25px;line-height: 24px;font-size: 12px;}
.order-placed-time{color: #abb1c2;}
.fund-prog-sec .support-staff-txt{font-size: 16px;color: #151b34;}
.order-failure .modal-header{padding: 5px 10px;border: none;}
.order-failure .modal-header .close{font-size: 30px;outline: none;}
.order-failure .modal-body{padding: 0 15px;}

.vertical-hr{border: 1px dashed #d7d8da;height: 100%;position: absolute;left: 24px;}
.vertical-hr-checked{border: 1px solid #00b08d;height: 100%;position: absolute;left: 24px;}
.order-history-rw .next-install-txt{font-size: 12px;color: #c1c6d2;text-align: right;}
.otm-bank-and-acc .sip-amt-history{display: table-cell;color: #151b34;}
.add-flex{display: flex;}
.order-failed-rst .btn.green-btn{width: auto;padding: 6px 10px;float: none;margin: 10px 0;font-size: 12px;font-family: "Rubik-Regular";}

/*****
Order History : SIP section
*****/
.sip-edit-can-main-sec{margin-top: 50px;}
.sip-edit-can-main-sec-inner{background: #fff;margin: 25px 18px;border-radius: 5px;}
.sip-details-sec{display: table;width: 100%;padding: 15px 0;}
.sip-details-sec-inner{display: table-cell;width: 33.33%;text-align: center;}
.sip-details-sec-inner p{font-size: 12px;color: #bec2cf;}
.sip-details-sec-inner span{font-size: 16px;}
.sip-details-sec-inner .sip-status-txt{color: #16ad25;}
/* .sip-edit-sec .btn.edit-btn{width: 50%;background: #fff;border-top: 1px solid #eeeef5;border-right: 1px solid #eeeef5;border-radius: 0;font-size: 16px;color: #909199;outline: none;box-shadow: none;} */
.sip-edit-sec .btn.cancel-btn{width: 100%;background: #fff;border-top: 1px solid #eeeef5;border-radius: 0;font-size: 16px;color: #909199;outline: none;box-shadow: none;}
.fund-transc-sec{background: #fff;padding: 15px 0;}
.fund-transc-sec .fund-transc-txt{font-family: "Rubik-Medium";font-size: 16px;color: #151b34;}
.sip-sell-inv-sec .btn,.sip-sell-inv-sec .btn:hover{width: 50%;}
.fund-transc-rw{padding: 10px 15px;border-bottom: 1px solid #f6eded;}
.fund-transc-rw:last-child{border-bottom: none;}
.fund-transc-rw .bold-txt{font-family: "Rubik-Medium";font-size: 12px;}
.fund-transc-rw .units-txt{font-size: 12px;color: #151b34;text-transform: capitalize;}
.fund-transc-rw .purchase-date-txt{font-size: 12px;color: #aaaaaa;}

/*****
Order History : SIP Edit
*****/
.sip-edit-main-sec{background: #fff;padding: 20px 15px 15px 30px;}
.sip-edit-sec .sip-top-sec{padding: 0 15px;}
.sip-edit-main-sec .invest-txt{font-size: 16px;color: #151b34;font-weight: 700;}
.sip-edit-main-sec .sip-amount-sec{position: relative;padding: 0;padding-bottom: 10px;}
.sip-edit-main-sec .sip-amount-sec .rupee-sym{top: -1px;}
.rel-white-btn{padding: 15px 0;}
.rel-white-btn .white-btn,.rel-white-btn .white-btn:focus{border: 1px solid #00b08d;outline: none;box-shadow: none;}
.calendar-select{margin-top: 8px;}

/*****
Fund Portfolio - Investment Tab
*****/
.column {float: left;width: 33.33%;}
.portfolio-main-sec{padding-top: 145px;padding-bottom: 60px;}
.invest-status{padding: 15px 0;background: #fff;margin-top: 50px;position: fixed;z-index: 3;border-bottom: 1px solid #ebebf3;}
.invest-show{padding: 10px 20px;background: #fff;margin-top: 100px;position: fixed;z-index: 2;}
.invest-show .cur-and-pl{color: #07bca0;}
.invest-status .invest-status-txt,.invest-tab .inv-cur-txt{color: #abb1c2;}
.invest-status .fa-inr{padding-left: 6px;}
.invest-status .invest-amt{padding-left: 3px;}
.invest-status .price-pos,.invest-tab .fa-inr.price-pos{color: #16ad25;}
.invest-status .price-neg,.invest-tab .fa-inr.price-neg{color: #dc2626;}
.no-invest-sec p{font-size: 12px;color: #60626e;padding-top: 30px;padding-bottom: 10px;}
.no-invest-sec .green-btn,.no-invest-sec .green-btn:hover{width: 35%;float: none;}
.invest-tab .fa-inr{padding-left: 8px;}
.invest-tab .inv-amt{padding-right: 10px;padding-top: 3px;border-right: 1px solid #ddd;}
.invest-tab .cur-pl-amt{padding-left: 10px;}
.invest-tab .order-history-amt{font-size: 14px;font-family: "Rubik-Regular";}
.filter-icon{position: fixed;bottom: 45px;right: -15px;}

/*****
Fund Portfolio - Analysis Tab
*****/
.analysis-sec{padding: 20px 10px;margin-bottom: 25px;}
.analysis-sec .analysis-txt{font-size: 12px;color: #636b78;}
.analysis-sec .analysis-amt{font-size: 16px;color: #151b34;margin: 0;font-weight: 700;}
.analysis-sec .col-xs-5,.analysis-sec .col-xs-7{padding: 0 5px;}
.analysis-chart-wrapper{background: #fff;border-radius: 5px;padding: 25px 10px;}
.analysis-chart-wrapper .col-xs-8,.analysis-chart-wrapper .col-xs-4{padding: 0;}
.analysis-amt .pos-perc{color: #16ad25;font-weight: normal;}
.analysis-amt .neg-perc{color: #dc2626;font-weight: normal;}

/*****
Fund Portfolio - Fund Transactions
*****/
.fund-transaction-main-sec{padding-top: 75px;padding-bottom: 50px;}
.fund-trans-neg-status-txt,.fund-trans-neg-status-txt .returns-txt{color: #de3434;}
.fund-trans-pos-status-txt,.fund-trans-pos-status-txt .returns-txt{color: #16ad25;}
.nav-units-sec{padding: 20px 0 5px 0;border-bottom: 1px solid #eeeef5;}
.fund-trans-inv-txt{color: #00b08d;font-size: 12px;}
.fund-transc-returns-sec{border-bottom: 15px solid #e8e8f0;}
.fund-transc-returns-sec .sip-details-sec{padding: 25px 0 10px 0;}
.clear-txt{font-size: 14px;color: #abb1c2;padding-top: 4px;cursor: pointer;}
.filter-sec-popup{position: fixed; width: 100%; height: 100%; float: left; top: 0; left: 0; z-index: 101; background: #fff; }
.filter-rw .nominee-checked{float: none;}
.filter-rw.otm-upload-main-sec .checkmark{border-radius: 0;}
.filter-rw{ padding: 15px 0 15px 35px; border-bottom: 1px solid #ededed;}
.filter-rw .hl-txt{padding-left: 35px;color: #777677;}
.right-sort-tab.col-xs-8{padding: 0; margin-top: 5px;padding-bottom: 55px;max-height: 90vh;overflow: scroll;}

.tabs-left, .tabs-right {border-bottom: none;}
.tabs-left {border-right: 1px solid #ddd;height: 100vh;}
.tabs-right {border-left: 1px solid #ddd;}
.tabs-left>li, .tabs-right>li {float: none;}
.tabs-right>li {margin-left: -1px;}
.filter-left-tab .tabs-left>li>a{font-size: 16px;font-family: "Rubik-Regular";color: #151b34;}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {/* border-bottom-color: #ddd;border-right-color: transparent; */color: #00b08d;border: none;font-family: "Rubik-Medium";}
.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {border-bottom: 1px solid #ddd;border-left-color: transparent;}
.tabs-left>li>a,.tabs-left>li>a:hover {border-radius: 4px 0 0 4px;margin-right: 0;display:block;background: #f5f5fa;color: #7f7e7f;padding: 15px 0 15px 25px;border: none;}
.tabs-right>li>a {border-radius: 0 4px 4px 0;margin-right: 0;}
.sideways {margin-top:50px;border: none;position: relative;}
.sideways>li {height: 20px;width: 120px;margin-bottom: 100px;}
.sideways>li>a {border-bottom: 1px solid #ddd;border-right-color: transparent;text-align: center;border-radius: 4px 4px 0px 0px;}
.sideways>li.active>a,
.sideways>li.active>a:hover,
.sideways>li.active>a:focus {border-bottom-color: transparent;border-right-color: #ddd;border-left-color: #ddd;}
.sideways.tabs-left {left: -50px;}
.sideways.tabs-right {right: -50px;}
.sideways.tabs-right>li {-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);}
.sideways.tabs-left>li {-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);transform: rotate(-90deg);}
.showTab{display: block !important;}
.hideTab{display: none !important;}
.left-sort-tab.col-xs-4{padding: 0;background: #f5f5fa;}

/*****
Class to add grey background to page
*****/
.grey-bg-inner{background: #ebebf3;height: 100%;}

/*****
Redemption css
*****/
.sell-price-sec{text-align: center; border-bottom: 1px solid #eae8f3; padding-bottom: 20px;}
.sell-price-sec h2{color: #16ad25; margin-bottom: 0;}
.sell-price-sec h2 i{font-size: 26px;}
.sell-price-sec span{color: #72747e;}
.sell-form-sec{text-align: center; position: relative; padding:10px 50px;  border-bottom: 1px solid #eae8f3;}
.sell-form-sec.sip-amount-sec .mandate-amt.form-control{width: 60%; text-align: left; padding:0 10px; float: right; border:none;}
.rupees-img-sec{width: 40%; float: left; text-align: right; padding: 16px; padding-right: 0; padding-bottom: 8px;}
.sell-form-sec.sip-amount-sec .rupee-sym{position: relative; top: 0;}
.sell-rup-sec{border-bottom: 1px solid #eae8f3;}
.exit-load-sec .exit-load-rw{padding: 15px 0 0;}
.exit-load-rw span.exit-load-label{font-size: 16px; color: #72747e; text-align: left;}
.exit-load-data{font-size: 16px; font-weight: 600; color: #151b34;}
.exit-load-data.green-data{color: #00b08d;cursor: pointer;}
.notice-para{font-size: 12px; color: #abb1c2; text-align: center;}
.notice-para a{color: #4a90e2; cursor: pointer;}
.withdraw-all-sec{text-align: center; margin: 0 auto; float: none; width: 255px;}
.withdraw-all-sec .checkmark{position: absolute; left: inherit; top: -1px; right: 180px; height: 20px; width: 20px; border:1px solid #d6d7d9; background: #fff;}
.unit-sell{font-size: 24px; color: #000; font-family: 'Rubik-Medium'; display: block;}
.unit-sell-sec .units-label{color: #cccdd0; display: block;}
.unit-sell-sec{padding-bottom: 20px;}
.exit-load-inner-sec{padding:48px 0 50px;}
p.alert-warning{font-size: 12px; text-align: center; padding: 10px 15px; color: #e28a04;}
.submit-upload-sec p.alert-warning{ color: #e28a04;}
.sell-upload-sec.submit-upload-sec{padding: 45px 20px 0;}
.upload-sell-mandate .modal-body{width: 100%; float: left; padding-bottom: 40px;}
.sell-fund-details-sec{margin: 0 -20px;}
.sell-fund-details-sec .otm-head-sec{padding: 18px 30px; border-bottom: none; background: #f7f7f7;}
.sell-fund-details-sec .fund-name-txt, .sell-fund-details-sec .sip-bank-name{display: block; float: left; width: 100%;}
.fund-name-txt{font-size: 12px; color: #151b34;}
.sip-bank-name{font-size: 16px; color: #151b34; font-weight: 700;}
.otm-head-sec-inner{padding-bottom: 20px; border-bottom: 1px solid #eae8f3;}
.settlement-rw, .unit-rw{font-size: 16px; padding-top: 20px; display: table; width: 100%; float: left;}
.settlement-rw{font-size: 12px; padding-top: 10px;}
.settlement-sec{padding: 0 20px 15px;}
.settlement-label, .unit-label{color: #8d8e96; font-weight: 600; display: table-cell;}
.settlement-count, .unit-count{color: #151b34; display: table-cell; font-weight: 600;}
.settlement-count{width: 118px;}
.unit-count{width: 107px;}
.serach-home-sec{position: relative; display: block;}
.serach-home-sec .dropdown-menu>li>a {white-space: normal; padding: 8px 20px;}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{background: #fff; color: #333;}
.serach-home-sec .dropdown{width: 100%;}

.upload-sell-mandate.exit-load .modal-body{padding-bottom: 0;}
.upload-sell-mandate.exit-load img{position: absolute;left: 45%;top: -25px;}
.upload-sell-mandate.exit-load .close{font-size: 32px;margin-top: -6px;font-weight: normal;color: #b8bac2;opacity: 1;outline: none;}
.exit-load .sell-upload-sec.submit-upload-sec{padding: 0 20px 0;}
.exit-load .sell-fund-details-sec,.exit-load .settlement-sec{border-bottom: 1px solid #f1f1f1;}
.exit-load .settlement-label,.exit-load .settlement-count{font-weight: normal;}
.exit-load .submit-upload-sec p{margin: 12px 0;}
.exit-load .modal-footer{padding: 0;}
.exit-load .settlement-rw{padding-top: 12px;}
.submit-upload-sec .ext-load-txt{font-size: 16px;font-weight: 600;}
.submit-upload-sec .amc-fee-txt{color: #abb1c2;}
.rub-med-txt{ font-family: 'Rubik-Medium';}
.line-chart-sec{position: relative;background: #fff; padding: 15px; margin-top: 20px;}
ul.line-year-rw{list-style: none; padding: 10px 10px 0; margin: 0;}
ul.line-year-rw li{display: inline-block; /* width: 16.66%; */ width: 20%;}
ul.line-year-rw li .month-year-sec{display: inline-block; padding: 10px; width:50px; height: 50px; vertical-align: middle; text-align: center; line-height: 35px; border-radius: 100%; cursor:pointer; color: #a3a3a7;}
ul.line-year-rw li.active .month-year-sec{background: #eaecf2; color: #000;}
.default-rw.change-password{cursor: pointer;}
.alert-danger.alert-rw{padding-top: 0; margin-top: -15px;}
.withdraw-all-sec .checkbox-rw{padding-top: 10px;}
.sell-fund-top-sec .otm-head-sec {padding: 70px 0px 15px 0px;}

.terms-and-cond-txt{color: #168cde;cursor: pointer;}
/*****
Fund-Filter css
*****/
.fund-filter-main-sec .portfolio-main-sec{padding-top: 65px;padding-bottom: 90px;}
.fund-filter-main-sec .order-history-rw{padding: 15px 0px 5px 0px;margin-top: 16px;}
.fund-filter-main-sec .otm-bank-name{display: table-cell;font-size: 16px;}
.fund-filter-main-sec .order-history-rw .filter-arrow{display: table-cell;width: 25px;}
.filter-arrow .fa-angle-right{font-size: 30px;}
.no-invest-div{padding-top: 120px;height: 100vh;background: #fff;}
.no-invest-div img{width: 125px;}
.filter-close .close{float: left;color: #6a6a6a;font-size: 26px;padding-right: 10px;opacity: 0.6;font-weight: lighter;line-height: 20px;}
.fund-filter-rw{padding-top: 15px;}
.fund-filter-rw .col-xs-4{text-align: center;}
.fund-filter-rw .fund-filt-txt{font-size: 12px;color: #636b78;font-weight: 700;}
.fund-filter-rw .col-xs-4 .pos-txt{font-size: 16px;color: #16ad25;}
.fund-filter-rw .col-xs-4 .negative-txt{font-size: 16px;color: #de3434;}
.fund-filter-rw .col-xs-4 .medium-txt{font-size: 16px;color: #e28a04;}
.fund-filter-rw .col-xs-4 .min-amt{font-size: 16px;color: #151b34;}
.fund-fil-bottom-btn .btn.white-btn{color: #777677;}

.fund-filter-top-sec{ background-image: linear-gradient(to right , #08c693, #09c3a6);position: fixed;width: 100%;float: left;z-index: 5;}
.fund-filter-top-sec-inner{display: flex;padding: 15px;}
.fund-filter-top-sec-inner .title-arrow .chevron{color: #ffffff;}
.fund-filter-top-sec-inner .fund-name{font-family: "Rubik-medium";font-size: 16px;color: #ffffff;padding-left: 10px;}
.fund-filt-my-filter ul.line-year-rw{padding: 0 0px 10px 30px;}
.fund-filt-my-filter ul.line-year-rw li.active .month-year-sec{background: #62d5b9;color: #ffffff;}
.fund-filt-my-filter ul.line-year-rw li .month-year-sec{padding: 8px 0px;width: 35px;height: 35px;line-height: 20px;font-size: 12px;color: #ffffff;}


.order-history-rw .fund-fil-inner-sec{display: table;}

/*error page css*/
.mob-div {
  display: block;
}
.add-top-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mt-5 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.personal-details-form .mbsc-mobiscroll.mbsc-input, .personal-details-form .mbsc-material.mbsc-input {
  margin: 1em 0em !important;
}
.personal-details-form .mbsc-mobiscroll.mbsc-input .mbsc-control, .personal-details-form .mbsc-material.mbsc-input .mbsc-control {
  border-bottom: 1px solid #9a9ba2 !important;
  padding: 0 15px;
}
.add-top-margin-2 {
  margin-top: 50px;
}
.center-img {
  text-align: center;
}
.errordiv.content-padd {
  padding-top: 45px;
  padding-bottom: 100px;
}

.error-txt {
  /* font-family: 'Oswald'; */
  font-size: 20px;
}

.error-txt-2 {
  /* font-family: 'Raleway'; */
  font-size: 14px;
  color: #000;
  margin-top: 20px;
  padding: 0 15px;
}
.sign-btn-sec {
  margin-top: 70px;
  float: left;
  width: 100%;
}
/*****
SIP mandate selection css
*****/
.select-mandate .sip-bank-details{background: #fff;padding-left: 15px;padding-bottom: 10px;padding-top: 10px;border-bottom: 1px solid #eeeef5;}

/*****
css to fix error class in some cases
*****/
.help-error{margin-top: 15px;margin-left: 15px;}

.speech-bubble-tool {
  right: 0px;
  position: absolute;
  text-align: left;
  padding: 14px;
  background: #fff;
  border-radius: 2px;
  border: #01b792 solid 1px;
  display: block;
  margin: 4px auto 0;
  font-size: 14px;
  color: #797979;
  z-index: 2;
}

.login-section.setting-password .speech-bubble.pass-txt {
  right: 0;
}

/* .speech-bubble-tool:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 14px 10px;
  border-color: #01b792 transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -10px;
  left: 216px;
} */

.speech-bubble-tool:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 14px 10px;
  border-color: #01b792 transparent;
  display: block;
  width: 0;
  z-index: 0;
  top: -11px;
  left: 216px;
}

.tooltip-div {
  display: none;
}

.close-bubble-tool {
  color: #01b792;
  width: 100%;
  text-align: right;
  display: block;
  margin-top: 20px;
}

/***************
No internet page
*******************/
.internet-error-sec{height: 100vh; position: fixed; top: 0; left: 0; color: #333333; text-align: center; background: #fff; z-index: 100000;}
.no-network-content{position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #333333; text-align: center;}
.main-form-sec-group .date-birth-sec.form-group label{border-bottom: 1px solid !important; padding: 10px !important;}
 
/*****
responsive css
*****/
@media all and (max-width: 767px){
  /*onboarding css*/
  .common-mutual-fund-sec{width: 100%; position: fixed; padding: 25px; bottom: 0;}
  .photo-sec{width: 100%;}
  .remove-bank-popup{width: 300px;margin: 0 auto;}
  .fund-filter-main-sec .otm-bank-name{width: 250px;}
  /* signature-pad, .sign-pad-inner canvas{width: 100%; height: 275px;} */
}

@media all and (max-width: 480px){
  /*onboarding css*/
  .btn.login-btn, .login-list li a.btn.login-btn:hover, .btn.google-btn-sec{font-size: 14px;}
  .confirm-ifsc-sec label, .confirm-ifsc-sec .conf-info{font-size: 12px;}
  .snapshot img{width: 100%;}
}

@media all and (max-width: 400px){
  .top-fund-inner .col-xs-3{width: 33.33%}
}

@media all and (max-width: 375px){
  .top-fund-inner .col-xs-3{width: 25%}
}

@media all and (max-width: 360px){
  .top-fund-inner .col-xs-3{width: 25%}
  .top-fund-inner .fund-title{font-size: 10px;}
  .radio-sec .radio-inline .checkmark{left: -6px; width: 18px; height: 18px;}
  .radio-sec .radio-inline{padding-left: 18px;}
  .radio-sec .radio-inline .checkmark:after{top: 2px; left: 2px;}
  .otm-upload-main-sec .hr{height: 70%;}
  .home-slide-img-sec {width: 110px;}
  .analysis-sec .analysis-amt{font-size: 14px;}
  .remove-bank-popup{width: 275px;margin: 0 auto;}
  .fund-filter-main-sec .otm-bank-name{width: 225px;}
  .order-history-rw .otm-bank-acc-no.order-text-red{margin: 0px 6px 0 0; padding: 4px 10px;}
  .sip-details-sec-inner span { font-size: 14px; }
}
@media all and (max-width: 330px){ 
  .sip-details-sec-inner span { font-size: 13px; }
}
@media screen and (max-width: 500px) and (orientation: portrait) {
  
  /* body.test {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }  */
  /* .sign-pad-button-sec{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: initial;
    transform: rotate(180deg);
  }
  .sign-pad-sec{
    top: 72px;
  } */
}
