<div class="home">
  <div class="home-main-sec full">
    <div class="container">
      <!--search section-->
      <div class="search-main-sec">
        <div class="serach-sec home-top-search full" (click)="showOrHideSearchBox()">
          <input type="text" class="form-control home-page-serach" placeholder="SEARCH MUTUAL FUNDS" readonly />
        </div>
      </div>
      <div class="home-slider-sec full">
        <h6 class="home-pg-title how-tso-title slider-title">Investment Plans</h6>
        <owl-carousel [options]="carouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
          <div class="home-item item" *ngFor="let image of images; let i= index" (change)="getSchemesByInvestment();">
            <form [formGroup]="schemeByInvestment">
              <div class="home-slide-text slide-text">
                <h4>{{image.text}}</h4>
              </div>
              <div class="home-slide-img-sec">
                <img class="slide-image" src="{{image.image}}">
              </div>
              <input type="radio" formControlName="fundByInvestment" [value]="image.value" />
            </form>
          </div>
        </owl-carousel>
      </div>

      <!--hw tso work sec-->
      <!-- <div class="full home-page-title-sec">
        <h6 class="home-pg-title how-tso-title">How Tradesmart Works</h6>
        <div class="home-pg-rw how-wrk-sec partner-rw full">
                <div class="hwt-title-rw" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                  aria-controls="collapseExample">
                  <span class="hwt-title"><span class="hwt-title-img"><img src="assets/images/htw.png" alt="hwt-img"/></span> <span class="hwt-title-inner">How does 
                      Tradesmart work ?</span></span>
                  <span class="hwt-title-chevron pull-right"><i class="fa"
                      [ngClass]="{'fa-angle-right': isCollapsed, 'fa-angle-down': !isCollapsed}"></i></span>
                </div>
        
              <div id="collapseExample" [ngbCollapse]="isCollapsed" class="full">
                <div class="hwt-sec-inner full">
                  <div class="hwt-sec-inner-rw full">
                    <div class="hwt-sec-inner-img"><img src="assets/images/hwt-1.png" alt="hwt-img"/></div>
                    <div class="hwt-sec-inner-text">Select Mutual Fund</div>
                    <span class="nxt-img"><img src="assets/images/nxt-hwt.png" alt="hwt-img"/></span>
                  </div>
                  <div class="hwt-sec-inner-rw full">
                      <div class="hwt-sec-inner-img"><img src="assets/images/hwt-2.png" alt="hwt-img"/></div>
                      <div class="hwt-sec-inner-text">Register with your details and select the amount</div>
                      <span class="nxt-img"><img src="assets/images/nxt-hwt.png" alt="hwt-img"/></span>
                    </div>
                  <div class="hwt-sec-inner-rw full hwt-sec-inner-rw-last">
                    <div class="hwt-sec-inner-img"><img src="assets/images/hwt-3.png" alt="hwt-img"/></div>
                    <div class="hwt-sec-inner-text">Invest online and get instant proofs</div>
                  </div>
                  <div class="hr"></div>
                </div>
              </div>
        </div>
      </div> -->

      <!--risk appetite sec-->
      <div class="full home-page-title-sec">
        <h6 class="home-pg-title">Risk Appetite</h6>
        <p>Tap to check out our selection of funds based on your risk appetite</p>
        <div class="home-pg-rw risk-rw row">
          <div class="col-xs-4" (change)="getFundFilterDetails();" *ngFor="let risk of risks">
            <form [formGroup]="riskForm">
              <div class="risk-inner-sec full low-risk">
                <img src="{{risk.image}}" alt="risk-img"/>
                <h6>{{risk.type}}</h6>
                <input type="radio" formControlName="risk" [value]="risk.value"/>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!--our partner sec-->
      <div class="full home-page-title-sec">
        <div class="home-pg-title-sec full">
          <h6 class="home-pg-title">Explore Top Funds By Categories</h6>
          <!-- <a href="" class="show-more-sec"><span>Show More</span> <i class="fa fa-angle-right"></i></a> -->
        </div>
        <div class="home-pg-rw top-fund-rw partner-rw full">
          <div class="top-fund-head-rw">
            <div class="top-fund-col" [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1'">Equity
            </div>
            <div class="top-fund-col" [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode ='tab2'">Debt
            </div>
            <div class="top-fund-col" [class.active]="viewMode == 'tab3'" rel="tab3" (click)="viewMode ='tab3'">Hybrid
            </div>
          </div>

          <div [ngSwitch]="viewMode">
            <form [formGroup]="schemeByCategory">
              <div id="tab1" *ngSwitchCase="'tab1'" class="full top-fund-inner">
                <div class="col-xs-3" (change)="getFundsByCategory();">
                  <img src="assets/images/equity/smallcap.svg" alt="fund-img" />
                  <span class="fund-title">Small Cap</span>
                  <input type="radio" formControlName="fundByCategory" value="Small" />
                </div>
                <div class="col-xs-3" (change)="getFundsByCategory();">
                  <img src="assets/images/equity/midcap.svg" alt="fund-img" />
                  <span class="fund-title">Mid Cap</span>
                  <input type="radio" formControlName="fundByCategory" value="Mid" />
                </div>
                <div class="col-xs-3" (change)="getFundsByCategory();">
                  <img src="assets/images/equity/largecap.svg" alt="fund-img" />
                  <span class="fund-title">Large Cap</span>
                  <input type="radio" formControlName="fundByCategory" value="Large" />
                </div>
                <div class="col-xs-3" (change)="getFundsByCategory();">
                  <img src="assets/images/equity/elsse.svg" alt="fund-img" />
                  <span class="fund-title">ELSS</span>
                  <input type="radio" formControlName="fundByCategory" value="ELSS" />
                </div>
                <div class="col-xs-3" (change)="getFundsByCategory();">
                  <img src="assets/images/equity/any-funds.svg" alt="fund-img" />
                  <span class="fund-title">Any Funds</span>
                  <input type="radio" formControlName="fundByCategory" value=" " />
                </div>
                <div class="col-xs-3" (change)="getFundsByCategory();">
                  <img src="assets/images/equity/themeatic.svg" alt="fund-img" />
                  <span class="fund-title">Theamatic</span>
                  <input type="radio" formControlName="fundByCategory" value="thematic" />
                </div>
                <div class="col-xs-3" (change)="getFundsByCategory();">
                  <img src="assets/images/equity/contra.svg" alt="fund-img" />
                  <span class="fund-title">Contra</span>
                  <input type="radio" formControlName="fundByCategory" value="Contra" />
                </div>
                <div class="col-xs-3" (change)="getFundsByCategory();">
                  <img src="assets/images/equity/diviend.svg" alt="fund-img" />
                  <span class="fund-title">Dividend Yield</span>
                  <input type="radio" formControlName="fundByCategory" value="Dividend" />
                </div>
              </div>
              <div id="tab2" *ngSwitchCase="'tab2'" class="full top-fund-inner">
                <div class="col-xs-3" (change)="getFundsByCategory();">
                  <img src="assets/images/debt/long-duration.svg" alt="fund-img" />
                  <span class="fund-title">Long Duration</span>
                  <input type="radio" formControlName="fundByCategory" value="Long" />
                </div>
                <div class="col-xs-3" (change)="getFundsByCategory();">
                  <img src="assets/images/debt/medium-duration.svg" alt="fund-img" />
                  <span class="fund-title">Medium Duration</span>
                  <input type="radio" formControlName="fundByCategory" value="Medium" />
                </div>
                <div class="col-xs-3" (change)="getFundsByCategory();">
                  <img src="assets/images/debt/short-duration.svg" alt="fund-img" />
                  <span class="fund-title">Short Duration</span>
                  <input type="radio" formControlName="fundByCategory" value="Short" />
                </div>
                <div class="col-xs-3" (change)="getFundsByCategory();">
                  <img src="assets/images/debt/USD.svg" alt="fund-img" />
                  <span class="fund-title">Ultra Short Duration</span>
                  <input type="radio" formControlName="fundByCategory" value="Ultra" />
                </div>
                <div class="col-xs-3" (change)="getFundsByCategory();">
                  <img src="assets/images/debt/gilt.svg" alt="fund-img" />
                  <span class="fund-title">Gilt</span>
                  <input type="radio" formControlName="fundByCategory" value="Gilt" />
                </div>
                <div class="col-xs-3" (change)="getFundsByCategory();">
                  <img src="assets/images/debt/gilt10year.svg" alt="fund-img" />
                  <span class="fund-title">Gilt10 Year</span>
                  <input type="radio" formControlName="fundByCategory" value="Gilt10" />
                </div>
                <div class="col-xs-3" (change)="getFundsByCategory();">
                  <img src="assets/images/debt/liquid.svg" alt="fund-img" />
                  <span class="fund-title">Liquid</span>
                  <input type="radio" formControlName="fundByCategory" value="Liquid" />
                </div>
                <div class="col-xs-3" (change)="getFundsByCategory();">
                  <img src="assets/images/debt/any-debt.svg" alt="fund-img" />
                  <span class="fund-title">Any</span>
                  <input type="radio" formControlName="fundByCategory" value=" " />
                </div>
              </div>
              <div id="tab3" *ngSwitchCase="'tab3'" class="full top-fund-inner">
                <div class="col-xs-3" (change)="getFundsByCategory();">
                  <img src="assets/images/hybrid/balanced-advantage.svg" alt="fund-img" />
                  <span class="fund-title">Balanced Advantage</span>
                  <input type="radio" formControlName="fundByCategory" value="Balanced" />
                </div>
                <div class="col-xs-3" (change)="getFundsByCategory();">
                  <img src="assets/images/hybrid/conservative.svg" alt="fund-img" />
                  <span class="fund-title">Conservative</span>
                  <input type="radio" formControlName="fundByCategory" value="Conservative" />
                </div>
                <div class="col-xs-3" (change)="getFundsByCategory();">
                  <img src="assets/images/hybrid/multi-asset-allocation.svg" alt="fund-img" />
                  <span class="fund-title">Multi Asset Allocation</span>
                  <input type="radio" formControlName="fundByCategory" value="Multi" />
                </div>
                <div class="col-xs-3" (change)="getFundsByCategory();">
                  <img src="assets/images/hybrid/equity-saving.svg" alt="fund-img" />
                  <span class="fund-title">Equity Saving</span>
                  <input type="radio" formControlName="fundByCategory" value="Equity" />
                </div>
                <div class="col-xs-3" (change)="getFundsByCategory();">
                  <img src="assets/images/hybrid/any-debt.svg" alt="fund-img" />
                  <span class="fund-title">Any</span>
                  <input type="radio" formControlName="fundByCategory" value=" " />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!--our partner sec-->
     <!-- <div class="full home-page-title-sec">
        <div class="home-pg-title-sec full">
          <h6 class="home-pg-title">Our Partner AMCs</h6>
      <a href="" class="show-more-sec"><span>Show More</span> <i class="fa fa-angle-right"></i></a>
     </div>
        <div class="home-pg-rw partner-rw full">
          <div class="partner-inner-rw full">
            <div class="col-xs-4">
              <img src="assets/images/axix_mf.svg" alt="risk-img" />
            </div>
            <div class="col-xs-4">
              <img src="assets/images/dsp_mf.svg" alt="risk-img" />
            </div>
            <div class="col-xs-4">
              <img src="assets/images/icici.svg" alt="risk-img" />
            </div>
          </div>
          <div class="partner-inner-rw full">
            <div class="col-xs-4">
              <img src="assets/images/Birlasunlife_mf.svg" alt="risk-img" />
            </div>
            <div class="col-xs-4">
              <img src="assets/images/hdfc_mf.svg" alt="risk-img" />
            </div>
            <div class="col-xs-4">
              <img src="assets/images/sbi_mf.svg" alt="risk-img" />
            </div>
          </div>
          <div class="partner-inner-rw full">
            <div class="col-xs-4">
              <img src="assets/images/sundaram_mf.svg" alt="risk-img" />
            </div>
            <div class="col-xs-4">
              <img src="assets/images/uti_mf.svg" alt="risk-img" />
            </div>
            <div class="col-xs-4">
              <img src="assets/images/Icici_mf.svg" alt="risk-img" />
            </div>
          </div>
        </div>
      </div> -->

      <!--Top performing funds sec-->
      <div class="full home-page-title-sec">
        <div class="home-pg-title-sec full">
          <h6 class="home-pg-title">Top Performing Funds</h6>
          <!-- <a href="" class="show-more-sec"><span>Show More</span> <i class="fa fa-angle-right"></i></a> -->
        </div>
        <div class="home-pg-rw return-rw full" *ngFor="let funds of topFund" (click)="investTopFund(funds)">
          <div class="returns-col">
            <span class="return-per">{{funds.one_year_return.toFixed(2)}}%</span>
            <span>Returns</span>
          </div>
          <div class="funds-info-col">
            <p>{{funds.scheme_name}} : {{funds.defaultopt}}</p>
          </div>
        </div>
      </div>

      <!--FAQ sec-->
      <div class="full home-page-title-sec">
        <h6 class="home-pg-title">Frequently asked questions</h6>
        <mbsc-accordion>
          <mbsc-form-group collapsible *ngFor="let faq of questions">
            <mbsc-form-group-title>{{faq.question}}</mbsc-form-group-title>
            <mbsc-form-group-content>
              <div class="mbsc-padding">
                <p class="faq-ans">{{faq.answer}}
                </p>
              </div>
            </mbsc-form-group-content>
          </mbsc-form-group>
        </mbsc-accordion>
      </div>
      <!--FAQ sec-->

      <!--search setion-->
      <div class="serach-sec-popup full" [class.show]="showSearchBox">
        <div class="main-form-sec-group full">
          <form [formGroup]="ifsearchForm">
            <div class="search-bank-list-sec full">
              <div class="serach-sec serach-home-sec full">
                <!-- <input [id]="inputFormatBandListValue" type="text" class="form-control home-page-serach" [ngbTypeahead]="searchBank"  placeholder="Serach Your Fund" [resultFormatter]="resultFormatBandListValue"
                    [inputFormatter]="inputFormatBandListValue"  [(ngModel)]="model" (click)="click$.next($event.target.value)" (selectItem)="getFundDetails()" #inputBox/>  -->
                <!-- <span>{{model | json}}</span> -->
                <input  #typeahead=bs-typeahead [(ngModel)]="selectedValue" formControlName="bankName" [typeahead]="states"
                  typeaheadOptionField="scheme_name" placeholder="Search Your Fund" class="form-control home-page-serach"
                  typeaheadOptionsLimit="10" [typeaheadMinLength]="0" (typeaheadNoResults)="typeaheadNoResults($event)"
                  typeahead-focus-first="true" [typeaheadItemTemplate]="template" (typeaheadOnSelect)="onSelect($event)"  #homeRef>
                <!--- Autofocus in search funds field -->
                
<ng-template #template let-match="match" let-query="query">
  <div [innerHtml]="fixedHighligth(match, query)"></div>
</ng-template>
                {{ homeRef.focus() }}
                <button type="button" class="cancel-btn btn" (click)="cancelBtn($event)">Cancel</button>
              </div>
            </div>
            <div class="alert alert-danger" *ngIf="noResult">No Results Found</div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--loader html-->
  <div class="lds-css ng-scope" *ngIf="loading">
    <div style="width:100%;height:100%" class="lds-dual-ring">
      <div></div>
    </div>
  </div>
</div>

<app-footer></app-footer>
